r2/doc/specs/sourceML/nonmem/sourceML.dtd

<!-- <> <html:h2>SpkSourceML : MDA -&gt; ASPK Compiler Information Package</html:h2>

<html:p>
This documentation specifies the information passed from MDA to ASPK.
</html:p>
<html:p>
For MDA, it is to both request (ultimately) SPK to perform either individual analysis or population analysis and
present the results before the user when the analysis is completed.  For ASPK, it is 
to have SPK Compiler translate the information into an executable and have CSPK compute and return the results.
</html:p>
-->

<!-- <spksource> A package of information passed from MDA to ASPK.  The top element of SpkSourceML.

These information also must distinguish client types (ex. NONMEM, SAAM-II, etc.) to which MDA is interfacing
so that ASPK can (almost) directly interpret the request written in their language.

Currently, the only supported client is NONMEM (ie. NM-TRAN).  
-->
<!ELEMENT spksource (nonmem)>

<!-- ================================================================================ -->
<!--                                                                                  -->
<!--                                   NONMEM                                         -->
<!--                                                                                  -->
<!-- ================================================================================ -->

<!-- <nonmem> Composite of information expressed in the language familiar to NONMEM (ie. NM-TRAN) users. 
--> 
<!ELEMENT nonmem (constraint |model |presentation |monte_carlo?) >

<!-- <nonmem version="0.1"> The version number of <nonmem> source XML document.  For the initial version, it is "0.1". -->
<!ATTLIST nonmem version (0.1|0.2) #REQUIRED>


<!-- ===================================== -->
<!--              CONSTRAINT               -->
<!-- ===================================== -->
<!-- <constraint> Parameters to control the model's and the SPK's behaviors. 

Either, and only one of, the <ind_analysis> or <pop_analysis> element must follow under this element.
-->
<!ELEMENT constraint (ind_analysis? | pop_analysis?) >

<!-- <value> A value of arbitrary type: floating point number, integer, string or text.  

For numbers, you can use the decimal format (ex. 0.1) or scientific notation (ex. 1E-1).  The leading zeros before the decimal point or the trailing zeros after the decimal point may be omitted (ex. ".1", "1.") as long as there is one significant digit on either side (ex. "." by itself is illegal). -->
<!ELEMENT value (#PCDATA)>

<!-- <value fixed="no"> "yes" ensures the value to be retained during the optimization, default to "no". For processes other than optimization, this setting is ignored.-->
<!ATTLIST value fixed (yes|no) #IMPLIED>

<!-- <in> Sequence of initial values -->
<!ELEMENT in (value)+>

<!-- <low> Sequence of lower boudary values -->
<!ELEMENT low (value)+>

<!-- <up> Sequence of upper boundary values -->
<!ELEMENT up (value)+>

<!-- <data_labels> Sequence of data labels.  The <label>s are matched to the columns of data values from left to rigth, in the order of appearance.

For example, given the &lt;data_labels&gt; definition,
<html:pre><html:code>
   &lt;data_labels &gt;
      &lt;<label> name="ID"/&gt;
      &lt;<label> name="TIME"/&gt;
      &lt;<label> name="CP" synonym="DV"/&gt;
   &lt;/data_labels&gt; 
</html:code></html:pre>

and the data below,
<html:pre><html:code>
   woo   0.0   0.15
   woo   1.0   0.23
   foo   0.1   0.2
   foo   1.1   0.31
   foo   2.2   0.4
</html:code></html:pre>

the labels (and synonyms) are associated with values as follows:
<html:ul>
   <html:li>The first individual's ID is "woo". Its sample, CP or DV, was 0.15 at TIME=0.0 and 0.23 at TIME=1.0.
   </html:li>
   <html:li>
The second individual's ID is "foo", Its sample, CP or DV was 0.2 at TIME=0.1, 0.31 at TIME=1.1 and 0.4 at TIME=2.2.
   </html:li>
</html:ul>
Either label or synonym may be one of the NONMEM reserved identifiers, among which the (bare minimally) required identifiers are emphasized:
<html:ul>
   <html:li><html:b>ID</html:b> (to group each individual's data block)</html:li>
   <html:li>L1</html:li>
   <html:li>L2</html:li>
   <html:li><html:b>DV</html:b> (to indicate the measurements to fit)</html:li>
   <html:li>MDV</html:li>
   <html:li>TIME</html:li>
   <html:li>DATA</html:li>
   <html:li>DAT1</html:li>
   <html:li>DAT2</html:li>
   <html:li>DAT3</html:li>
   <html:li>DROP</html:li>
   <html:li>SKIP</html:li>
   <html:li>EVID</html:li>
   <html:li>AMT</html:li>
   <html:li>RATE</html:li>
   <html:li>SS</html:li>
   <html:li>II</html:li>
   <html:li>ADDL</html:li>
   <html:li>CMT</html:li>
   <html:li>PCMT</html:li>
   <html:li>CALL</html:li>
   <html:li>CONT</html:li>
</html:/ul>
-->
<!ELEMENT data_labels (label)+>


<!-- <label> The name/label of the item. -->
<!ELEMENT label EMPTY>

<!-- <label name=""> A string begining with an alphabet followed by any combination of alphabets, numbers, _ (underscore) that serves as the label.  Case-sensitive.  -->
<!ATTLIST label name CDATA #REQUIRED>

<!-- <label synonym=""> [optional] Similar to "name" but this serves as an alias/synonym that references the same entity as "name" does, default to "" (none).
-->
<!ATTLIST label synonym CDATA #IMPLIED>

<!-- <ind_analysis> Request for the individual level analysis. The <model> definition is assumed to be for a single individual.-->
<!ELEMENT ind_analysis (description? | data_labels | theta | omega+ | ind_stat? | simulation?)>

<!-- <ind_analysis is_estimation="yes"> "yes" for the parameter estimation to be performed.  When set to "no", the parameter estimation will be skipped.  This value should be "no" if <monte_carlo> is requested.
-->
<!ATTLIST ind_analysis is_estimation (yes|no) #REQUIRED>

<!-- <ind_analysis abort="yes"> "no" is default.  REVISIT  Sachiko 05/26/04
-->
<!ATTLIST ind_analysis abort (yes|no) #IMPLIED>

<!-- <ind_analysis mitr="n"> Maximum iterations attemped before the optimizer gives in. Required when "is_estimation" is set to "yes".  -->
<!ATTLIST ind_analysis mitr CDATA #IMPLIED>

<!-- <ind_analysis is_restart="no"> Request to start from the last state of the parent job's optimization process; "yes" or "no", default to "no".-->
<!ATTLIST ind_analysis is_restart (yes|no) #IMPLIED>

<!-- <ind_analysis sig_digits="3"> The number of significant digits required in the final parameter estimate. The value must be a positive integer less than 9.  The default value is 3.-->
<!ATTLIST ind_analysis sig_digits CDATA #IMPLIED>

<!-- <pop_analysis> Request for the population level analysis. The <model> definition is assumed to be for a population.-->
<!ELEMENT pop_analysis ( description? | data_labels | theta | omega+ | sigma+ | pop_stat? | simulation?)>

<!-- <pop_analysis is_estimation="yes"> "yes" for the parameter estimation to be performed. When set to "no", the parameter estimation will be skipped.  This value should be "no" if <monte_carlo> is requested.
-->
<!ATTLIST pop_analysis is_estimation (yes|no) #REQUIRED>

<!-- <pop_analysis abort="no"> "no" is default.  REVISIT  Sachiko 05/26/04
-->
<!ATTLIST pop_analysis abort (yes|no) #IMPLIED>

<!-- <pop_analysis approximation="fo"> Approximation method: "fo" for First Order, "foce" for Modified Expected Hessian, "laplace" for Modified Laplace, "std_two_stage" for Standard Two Stage, "global_two_stage" for Global Two Stage, "iterative_two_stage" for Iterative Two Stage method, "map_bayes_std_two_stage" for Map Bayesian Standard Two Stage, "map_bayes_global_two_stage" for Map Bayesian Global Two Stage, "map_bayes_iterative_two_stage" for Map Bayesian Iterative Two Stage. 
-->
<!ATTLIST pop_analysis approximation (fo|foce|laplace) #REQUIRED>

<!-- <pop_analysis interaction="no"> "no" forces eta to be always set to zero during the computation of the variance of intraindividual random error (R(alp,b)).  "yes" makes the dependence on eta of the variance be preserved int he computation of the objective function.  When <pop_analysis approximation> is set to either "fo" or "laplace", the default is "no".  When it is set to "foce", the default is "yes".
-->
<!ATTLIST pop_analysis interaction (yes|no) #IMPLIED>

<!-- <pop_analysis sig_digits="3"> The number of significant digits required in the final parameter estimate. The value must be a positive integer less than 9.  The default value is 3.  The value is applied to both the population parameter estimate and the inviduals parameter estimates.-->
<!ATTLIST pop_analysis sig_digits CDATA #IMPLIED>

<!-- <pop_analysis pop_size="10"> Number of individuals in the population, must be a poitive integer.-->
<!ATTLIST pop_analysis pop_size      CDATA    #REQUIRED>

<!-- <pop_analysis mitr="n"> Maximum number iterations attemped before the optimizer gives in. Required when "is_estimation" is set to "yes".  Required when "is_estimation" is set to "yes".-->
<!ATTLIST pop_analysis mitr CDATA #IMPLIED>

<!-- <pop_analysis is_restart="yes"> Request to start from the last state of the parent job's optimization process; "yes" or "no", default to "no".-->
<!ATTLIST pop_analysis is_restart (yes|no) #IMPLIED>

<!-- <pop_analysis is_eta_out="no"> Request to evaluate the eta at the final estimated population parameter values; "yes" or "no", default to "no". -->
<!ATTLIST pop_analysis is_eta_out (yes|no) #IMPLIED>

<!-- <theta> The NONMEM theta vector.-->
<!ELEMENT theta (in | low | up)>

<!-- <theta length="10"> Length of the theta vector. The value must match the number of values appeared under the tree. -->
<!ATTLIST theta length CDATA #REQUIRED>

<!-- <omega> A minimal representation of NONMEM Omega (symmetric positive definite) matrix. For full (ie. "block") matrix, <omega> lists the <html:font color='red'>lower</html:font> triangle elements in the <html:font color='red'>row-major</html:font> order.  For diagonal, <omega> lists only the diagonal elements from the upper left corner.  For block diagonal, each <omega> block is listed individually using full or diagonal specifications as appropriate.

Given a 3 by 3 matrix, A:
<html:pre>
/                   \
|  a11   a12   a13  |
|  a21   a22   a23  |
|  a31   a32   a33  |
\                   / 
</html:pre>

If A were <html:font color='red'>full</html:font> (ie. block) symmetric, <omega> specifies as follows:
<html:pre>
    &lt;omega&gt;
       &lt;value&gt;a11&lt;/value&gt;
       &lt;value&gt;a21&lt;/value&gt;&lt;value&gt;a22&lt;/value&gt;
       &lt;value&gt;a31&lt;/value&gt;&lt;value&gt;a32&lt;/value&gt;&lt;value&gt;a33&lt;/value&gt;
    &lt;/omega&gt;
</html:pre>
If A were <html:font color='red'>diagonal</html:font>, <omega> specifies as follows:
<html:pre>
    &lt;omega&gt;
       &lt;value&gt;a11&lt;/value&gt;
                         &lt;value&gt;a22&lt;/value&gt;
                                           &lt;value&gt;a33&lt;/value&gt;
    &lt;/omega&gt;
</html:pre>
If A were <html:font color='red'>block diagonal</html:font> symmetric with a 2x2 full block and a 1x1 diagonal block, <omega> specifies as two blocks as follows:
<html:pre>
    &lt;omega&gt;
       &lt;value&gt;a11&lt;/value&gt;
       &lt;value&gt;a21&lt;/value&gt;&lt;value&gt;a22&lt;/value&gt;
    &lt;/omega&gt;
    &lt;omega&gt;
       &lt;value&gt;a33&lt;/value&gt;
    &lt;/omega&gt;
</html:pre>
-->
<!ELEMENT omega (in)>

<!-- <omega dimension=""> Dimension of square Omega matrix. For example, for a 3 by 3, say "3". -->
<!ATTLIST omega dimension CDATA #REQUIRED>

<!-- <omega struct="block"> Structure of Omega matrix, either "block" or "diagonal".  "block" suggests that any elements in the symmetric matrix could be non-zero. "diagonal" indicates all zeros except for the diagonal elements.
 -->
<!ATTLIST omega struct (block|diagonal) #REQUIRED>

<!-- <sigma>  
A minimal representation of NONMEM Omega matrix. For full (ie. "block") matrix, <sigma> lists the <html:font color='red'>lower</html:font> triangle elements in the <html:font color='red'>row-major</html:font> order.  For diagonal, <sigma> lists only the diagonal elements from the upper left corner.  For block diagonal, each <sigma> block is listed individually using full or diagonal specifications as appropriate.

Given a 3 by 3 matrix, A:
<html:pre>
/                   \
|  a11   a12   a13  |
|  a21   a22   a23  |
|  a31   a32   a33  |
\                   / 
</html:pre>

If A were <html:font color='red'>full</html:font> (ie. block) symmetric, <sigma> specifies as follows:
<html:pre>
    &lt;sigma&gt;
       &lt;value&gt;a11&lt;/value&gt;
       &lt;value&gt;a21&lt;/value&gt;&lt;value&gt;a22&lt;/value&gt;
       &lt;value&gt;a31&lt;/value&gt;&lt;value&gt;a32&lt;/value&gt;&lt;value&gt;a33&lt;/value&gt;
    &lt;/sigma&gt;
</html:pre>
If A were <html:font color='red'>diagonal</html:font>, <omega> specifies as follows:
<html:pre>
    &lt;sigma&gt;
       &lt;value&gt;a11&lt;/value&gt;
                         &lt;value&gt;a22&lt;/value&gt;
                                           &lt;value&gt;a33&lt;/value&gt;
    &lt;/sigma&gt;
</html:pre>
If A were <html:font color='red'>block diagonal</html:font> symmetric with a 2x2 full block and a 1x1 diagonal block, <sigma> specifies as two blocks as follows:
<html:pre>
    &lt;sigma&gt;
       &lt;value&gt;a11&lt;/value&gt;
       &lt;value&gt;a21&lt;/value&gt;&lt;value&gt;a22&lt;/value&gt;
    &lt;/sigma&gt;
    &lt;sigma&gt;
       &lt;value&gt;a33&lt;/value&gt;
    &lt;/sigma&gt;
</html:pre>
-->
<!ELEMENT sigma (in)>

<!-- <sigma dimension="3"> Dimension of the square Sigma matrix. For example, for a 3 by 3, say "3". -->
<!ATTLIST sigma dimension CDATA #REQUIRED>

<!-- <sigma same_as_previous="no"> "yes" to duplicate the initial and final values of the previously appeared Sigma block's values to this block's, default to "no". -->
<!ATTLIST sigma same_as_previous (yes|no) #IMPLIED>

<!-- <sigma struct="block"> Structure of Sigma matrix, either "block" or "diagonal". "block" suggests that any elements in the symmetric matrix could be non-zero.  "diagonal" indicates all zeros except for the diagonal elements.
-->
<!ATTLIST sigma struct (block|diagonal) #REQUIRED>

<!-- <simulation> Request to simulate a data set. 

If this element appears when the population analysis is chosen, a data set for n number of individuals will be generated, where n is the number of individuals in the population. If it is for the individual analysis, a data set for a single individual will be generated.  The simulated data set replaces the original data set for parameter estimation if parameter estimation is requested.
-->
<!ELEMENT simulation EMPTY>

<!-- <simulation seed="12345"> Positive integer used as a seed to generate random numbers. -->
<!ATTLIST simulation seed CDATA #REQUIRED>

<!-- <simulation subproblems="1">  Requests that the entire problem is to be repeated n times in succession (including all steps: simulation, estimation, statistics, table/scatterplot generation).  Each subproblem includes the simulation step, but the random sources are simply continued from subproblem to subproblem.  By default, n=1, there is only one subproblem. -->
<!ATTLIST simulation subproblems CDATA #IMPLIED>

<!-- <pop_stat> Request for the post statistial analysis on the final estimate for the population parameter. This process will be skipped unless the "is_estimation" of <pop_analysis> is set to "yes". -->
<!ELEMENT pop_stat EMPTY>

<!-- <pop_stat covariance_form="r"> Form of covariance matrix; "r" for R^-1, "rsr" for R^-1*S*R^-1, "s" for S^-1.-->
<!ATTLIST pop_stat covariance_form    (rsr|r|s)  #REQUIRED>

<!-- <pop_stat is_covariance_out="yes"> "yes" to request to return the covariance matrix of the final estimate(s) for population parameter, default to "yes". -->
<!ATTLIST pop_stat is_covariance_out  (yes|no) #IMPLIED>

<!-- <pop_stat is_inverse_covariance_out="yes"> "yes" to request to return the inverse of covariance matrix of the final estimate(s) for population parameter, default to "yes". -->
<!ATTLIST pop_stat is_inverse_covariance_out  (yes|no) #IMPLIED>

<!-- <pop_stat is_stderror_out="yes"> "yes" to request to return the standard error of the final estimate for population parameter, default to "yes".  -->
<!ATTLIST pop_stat is_stderror_out    (yes|no) #IMPLIED>

<!-- <pop_stat is_correlation_out="yes"> "yes" to request to return the correlation matrix of the final estimate for population parameter, default to "yes".  -->
<!ATTLIST pop_stat is_correlation_out (yes|no) #IMPLIED>

<!-- <pop_stat is_coefficient_out="yes"> "yes" to request to return the coefficient for the final estimate for population parameter, default to "yes".  -->
<!ATTLIST pop_stat is_coefficient_out (yes|no) #IMPLIED>

<!-- <pop_stat is_confidence_out="yes"> "yes" to request to return the confidence interfals for the final estimate for population parameter, default to "yes".  -->
<!ATTLIST pop_stat is_confidence_out (yes|no) #IMPLIED>

<!-- <ind_stat>  Request for the post statistial analysis on the final estimate(s) for individual parameter(s).  This process will be skipped unless the "is_estimation" of <ind_analysis> is set to "yes".  -->
<!ELEMENT ind_stat EMPTY>

<!-- <ind_stat covariance_form="rsr"> Form of covariance matrix; "r" for R^-1, "rsr" for R^-1*S*R^-1, "s" for S^-1, "h" for H^-1 and "hsh" for H^-1*S*H^-1. -->
<!ATTLIST ind_stat covariance_form    (rsr|r|s|hsh|h)  #REQUIRED>

<!-- <ind_stat is_stderror_out="yes"> "yes" to request to return the standard error of the final estimate(s) for individual parameter(s), default to "yes".  -->
<!ATTLIST ind_stat is_stderror_out    (yes|no) #IMPLIED>

<!-- <ind_stat is_correlation_out="yes"> "yes" to request to return the correlation matrix of the final estimate(s) of individual parameter, default to "yes".  -->
<!ATTLIST ind_stat is_correlation_out (yes|no) #IMPLIED>

<!-- <ind_stat is_covariance_out="yes"> "yes" to request to return the covariance matrix of the final estimate(s) for individual parameter, default to "yes". -->
<!ATTLIST ind_stat is_covariance_out  (yes|no) #IMPLIED>

<!-- <ind_stat is_inverse_covariance_out="yes"> "yes" to request to return the inverse of covariance matrix of the final estimate(s) for individual parameter, default to "yes". -->
<!ATTLIST ind_stat is_inverse_covariance_out  (yes|no) #IMPLIED>

<!-- <ind_stat is_coefficient_out="yes"> "yes" to request to return the coefficents for the final estimate(s) for individual parameter, default to "yes". -->
<!ATTLIST ind_stat is_coefficient_out  (yes|no) #IMPLIED>

<!-- <ind_stat is_confidence_out="yes"> "yes" to request to return the confidence intervals for the final estimate(s) for individual parameter, default to "yes". -->
<!ATTLIST ind_stat is_confidence_out  (yes|no) #IMPLIED>

<!-- ===================================== -->
<!--          END OF CONSTRAINT            -->
<!-- ===================================== -->
<!-- ===================================== -->
<!--                MODEL                  -->
<!-- ===================================== -->

<!-- <model> Definition of NONMEM mixed effect model. 
<html:ul>
   <html:li>All variables are treated as double-precision scalars.
   The data type of contant (literal) values retain as it is.
   </html:li>
   <html:li>Array specification is not supported. 
   </html:li>
   <html:li>Cases are ignored.
   </html:li>
   <html:li>The following unary functions are supported:
      <html:ul>
         <html:li>ATAN ( real )</html:li>
         <html:li>COS  ( real )</html:li>
         <html:li>EXP  ( real )</html:li>
         <html:li>LOG  ( real )</html:li>
         <html:li>LOG10( real )</html:li>
         <html:li>SIN  ( real )</html:li>
         <html:li>SQRT ( real )</html:li>
         <html:li>ABS  ( real )</html:li>
         <html:li>ACOS ( real )</html:li>
         <html:li>ASIN ( real )</html:li>
         <html:li>ATAN2( real )</html:li>
         <html:li>COSH ( real )</html:li>
         <html:li>MAX  ( real )</html:li>
         <html:li>MIN  ( real )</html:li>
         <html:li>MOD  ( real )</html:li>
         <html:li>SINH ( real )</html:li>
         <html:li>TAN  ( real )</html:li>
         <html:li>TANH ( real )</html:li>
      </html:ul>
   </html:li>
   <html:li>
      <html:ul>
         <html:li>LININTERP()</html:li>
      </html:ul>
   </html:li>
</html:ul>

The valid combinations of PREDPP library model and TRANS:
<html:dl>
   <html:dt>Advan1: One compartmental linear model</html:dt>
      <html:dd>Trans1, Trans2</html:dd>
   <html:dt>Advan2: One compartmental linear model with first order absorption</html:dt>
      <html:dd>Trans1, Trans2</html:dd>
   <html:dt>Advan3: Two compartmental linear model</html:dt>
      <html:dd>Trans1, Trans3, Trans4, Trans5</html:dd>
   <html:dt>Advan4: Two compartmental linear model with first order absorption</html:dt>
      <html:dd>Trans1, Trans3, Trans4, Trans5</html:dd>
   <html:dt>Advan5: General linear model</html:dt>
      <html:dd>Trans1</html:dd>
   <html:dt>Advan6: General nonlinear model</html:dt>
      <html:dd>Trans1</html:dd>
   <html:dt>Advan7: General linear model with real eigenvalues</html:dt>
      <html:dd>Trans1</html:dd>
   <html:dt>Advan8: General nonlinera model with stiff differential equations</html:dt>
      <html:dd>Trans1</html:dd>
   <html:dt>Advan9: General nonlinear model with equilibrium compartments</html:dt>
      <html:dd>Trans1</html:dd>
   <html:dt>Advan10: One compartmental model with Michaelis-Menten elimination</html:dt>
      <html:dd>Trans1</html:dd>
</html:dl>
-->
<!ELEMENT model ( description? | (pred | (comp_model | pk | diffeqn | error) ) ) >

<!-- <model advan=""> The number that corresponds to PREDPP library model from ADVAN1 - ADVAN10.  Currently supported models are { 6 }.  If this attribute is omitted, <pred> must be defined.  The attribute setting will be ignored if <pred> is specified.  -->
<!ATTLIST model advan ( 1 | 2 | 3 | 4 | 5 | 6 | 7 | 8 | 9 | 10 ) #IMPLIED>

<!-- <model trans="1"> The number that corresponds to parameterization for the selected ADVAN model.  Choose from {1,2,3,4,5}, default to "1".  If no ADVAN model is used, this setting is ignored.
-->
<!ATTLIST model trans (trans1|trans2|trans3|trans4|trans5|trans6) #IMPLIED>

<!-- <model tolerance=""> Number of digits of accuracy, used when an ADVAN model is selected.
-->
<!ATTLIST model tolerance CDATA #IMPLIED>

<!-- <pred> Equivalent of $PRED block that serves as the aggregate of PK, ERROR and SUBROUTINES records. 
-->
<!ELEMENT pred (#PCDATA)>

<!-- <pk> Equivalent of $PK block. Required when an ADVAN model is used.
<html:p>
The same requirements and rules imposed on PK are applied to this element.
</html:p>
<html:p>
NOTE: This element contains a set of equations written in the NONMEM abbriviated code, which is a subset of FORTRAN 77.  Cases are ignored; that is, "tIMe" and "TiMe" are treated as the same. 
</html:p>
-->
<!ELEMENT pk (#PCDATA)>

<!-- <error> Equivalent of $ERROR block.  Required when an ADVAN model is used.

<html:p>
The same requirements and rules imposed on ERROR are applied to this element.
</html:p>
<html:p>
This element contains a set of equations written in the NONMEM abbriviated code, which is a subset of FORTRAN 77.  Cases are ignored; that is, "tIMe" and "TiMe" are treated as the same.  
</html:p>
-->
<!ELEMENT error (#PCDATA)>

<!-- <comp_model> Definition of a compartmental model.  Required when a general model (ADVAN5-9) is used.

<comp_model> would usually follow <pk> block. <pk> is omitted if <link>s are specified to define the compartmental model.  
The order in which the <compartment>s appear is interpreted as the compartment number.
-->
<!ELEMENT comp_model (compartment+ | link*) >

<!-- <comp_model ncompartments="n"> Total number of compartments other than the output compartment.  The default is the number of <compartment>s. -->
<!ATTLIST comp_model ncompartments CDATA #IMPLIED>

<!-- <comp_model nequilibriums="0"> The number of equilibrium compartments, default to 0.  -->
<!ATTLIST comp_model nequilibriums  CDATA #IMPLIED>

<!-- <comp_model nparameters="n"> The number of basic PK parameters. The default is the number of bsic PK parameters defined in the <pk> block.-->
<!ATTLIST comp_model nparameters   CDATA #IMPLIED>

<!-- <compartment> Definition of a compartment.-->
<!ELEMENT compartment EMPTY>

<!-- <compartment name="">  Name of the compartment.-->
<!ATTLIST compartment name CDATA #REQUIRED>

<!-- <compartment initial_off="no"> "yes" makes this compartment initially off, default to "no". -->
<!ATTLIST compartment initial_off (yes|no) #IMPLIED>

<!-- <compartment no_off="no"> "yes" prohibits this compartment from being turned on or off, default to "no". -->
<!ATTLIST compartment no_off (yes|no) #IMPLIED>

<!-- <compartment no_dose="no"> "yes" prohibits this compartment from receiving a dose, default to "no".  -->
<!ATTLIST compartment no_dose (yes|no) #IMPLIED>

<!-- <compartment equilibrium="no"> "yes" makes this compartment an equilibrium compartment, default to "no". -->
<!ATTLIST compartment equilibrium (yes|no) #IMPLIED>

<!-- <compartment exclude="no"> "yes" makes this compartment's amount exclueded from the amount of the output compartment (ADVAN9 only), default to "no". -->
<!ATTLIST compartment exclude (yes|no) #IMPLIED>

<!-- <compartment default_observation="no"> "yes" makes this compartment the default observation compartment, default to "no" which means the compartment with the name "CENTRAL" or the first compartment.-->
<!ATTLIST compartment default_observation (yes|no) #IMPLIED>

<!-- <compartment default_dose="no"> "yes" makes this compartment the edefault dose compartment, default to "no" which means the compartment with the name "DEPOT" or the first compartment.-->
<!ATTLIST compartment default_dose (yes|no) #IMPLIED>

<!-- <link> Required only in the absence of <pk> abbrivated code. <link> defines a flow rate constant, k,  from compartment-"from" to compartment-"to".  If the flow is bidirectional, specify the flows with two <link> elements.
-->
<!ELEMENT link EMPTY>

<!-- <link from=""> Identification number of the compartment from which the flow originates. -->
<!ATTLIST link from CDATA #REQUIRED>

<!-- <link to=""> Identification number of the compartment to which the flow move in. -->
<!ATTLIST link to CDATA #REQUIRED>

<!-- <link k=""> Flow rate constant of the compartment -->
<!ATTLIST link k CDATA #REQUIRED>

<!-- <diffeqn> System of differential equations, equivalent to $DES record in NONMEM. Required with ADVAN6, 8, 9. 

<html:p>
A differential equation must be specified for each compartment.  The DE for the first compartment is denoted as DADT(1), second as DADT(2), ... and n'th as DADT(n), where n is the number of compartments.
</html:p>
<html:p>
On the right hand side of assignment statements, the following variables can be used.  Pay attention to items with <html:font color='red'>Attention!</html:font>.  These specificatons are different from NONMEM:
</html:p>
<html:ul>
   <html:li>A(1), A(2), ..., A(n):
   Current compartment amounts (may be random variables)</html:li>

   <html:li>P(1), P(2), ..., P(n):
   Explicit basic PK parameters (may be random variables)</html:li>
  
   <html:li>PK-defined items that appear as left-hand quantities in <pk>: Implicit basic PK parameters (may be random variables)</html:li>

   <html:li>T: Time; may be random variable.  T takes values continuously over an integration interval.</html:li>

   <html:li>DES-defined items that appeared earlier as left-hand quantities in <diffeqn></html:li>

   <html:li>Data item labels specified in <label> (<html:font color='red'>Attention!</html:font> This is different from NONMEM)</html:li>
 
</html:ul>
Variables that were predefined in NONMEM but have no special meaning in SPK are:
<html:ul>
   <html:li>COMACT, NETEXT, ETEXT, COM(n), COMACT, COMSAV, MIXNUM, MIXEST</html:li>
</html:ul>
NOTE: This element contains a set of equations written in the NONMEM abbriviated code, which is a subset of FORTRAN 77.  Cases are ignored; that is, "tIMe" and "TiMe" are treated as the same.  
-->
<!ELEMENT diffeqn (#PCDATA)>

<!-- ===================================== -->
<!--             end of  MODEL             -->
<!-- ===================================== -->

<!-- ===================================== -->
<!--              PRESENTATION             -->
<!-- ===================================== -->

<!-- <presentation> Information to control the data source and the format in which the results are displayed. 

There can be as many as 10 <table>s and 20 <scatterplot>s.
-->
<!ELEMENT presentation (table? | scatterplot?)>

<!-- <table> Information to request to produce a table. The table columns are placed in the order of which the <column> appears. There are as many as 10 tables.-->
<!ELEMENT table (description? | column+)>

<!-- <table save_as=""> The file name in which the table is saved, default to empty which requests display only.-->
<!ATTLIST table save_as CDATA #IMPLIED>

<!-- <table header="one"> The frequency in which the header (ie. labels) appears.  "one" requests the header to be appeared only once in the first row for the entire table.  "none" requests no header at all. "every" requests a header block per segment, where a segment is composed of 900 records.
-->
<!ATTLIST table header (none|one|every) #REQUIRED>

<!-- <column> A table column.-->
<!ELEMENT column EMPTY>

<!-- <column label=""> The name associate with the item to display along with DV, PRED, RES and WRES. It may include one of the followings:
<html:ul>
   <html:li>ETA(1), ETA(2), ..., ETA(10), ..., ETA(70), etc., corresponding to eta(1), eta(2).</html:li>
   <html:li>Data labels
</html:ul>
-->
<!ATTLIST column label CDATA #REQUIRED> 

<!-- <column sort_order=""> The priority by which this column data is sorted.  If omitted, no sorting is applied.
-->
<!ATTLIST column sort_order CDATA #IMPLIED>

<!-- <column appearance_order=""> The order in which the column appears in the table (from left to right). -->
<!ATTLIST column appearance_order CDATA #REQUIRED>

<!-- <scatterplot> Information to request to produce a scatterplot. At most 2 <split>s are allowed.-->
<!ELEMENT scatterplot (description? | x+ | y+ | split*)>

<!-- <scatterplot unit_slope="hide"> "show" to show the unit slope, "hide" to hide it, default to "hide". -->
<!ATTLIST scatterplot unit_slope (show|hide) #IMPLIED>

<!-- <scatterplot x0_line="show"> "show" to show a vertical line on x=0, "hide" to hide it, default to "show".-->
<!ATTLIST scatterplot x0_line    (show|hide) #IMPLIED>

<!-- <scatterplot y0_line="show"> "show" to show a horizontal line on y=0, "hide" to hide it, default to "show". -->
<!ATTLIST scatterplot y0_line    (show|hide) #IMPLIED>

<!-- <scatterplot from="1"> The number of the first data record which may contribute to the scatterplot, default to 1.-->
<!ATTLIST scatterplot from      CDATA       #IMPLIED>

<!-- <scatterplot to="900"> The number of the last data record which may contribute to the scatterplot, default to "from"+899.-->
<!ATTLIST scatterplot to        CDATA       #IMPLIED>

<!-- <x> Item to be plotted on the x axis.  It may be one of the followings:
<html:ul>
   <html:li>PRED, RES and WRES</html:li>
   <html:li>ETA(1), ETA(2), ..., ETA(10), ..., ETA(70), etc., corresponding to eta(1), eta(2).</html:li>
   <html:li>Data labels</html:li>
</html:ul>
 -->
<!ELEMENT x EMPTY>
<!ATTLIST x label CDATA #REQUIRED>   <!-- <x label=""> Label of the item. -->

<!-- <split> Item to separate (page-break) the scatterplot.  At most 2 data items may be specified per scatterplot.-->
<!ELEMENT split EMPTY>
<!ATTLIST split label CDATA #REQUIRED><!-- <split label="">  Label of the item that separates the scatterplot. -->

<!-- <y> Item to be plotted on the y axis.   It may be one of the followings:
<html:ul>
   <html:li>PRED, RES and WRES</html:li>
   <html:li>ETA(1), ETA(2), ..., ETA(10), ..., ETA(70), etc., corresponding to eta(1), eta(2).</html:li>
   <html:li>Data labels</html:li>
</html:ul>
-->
<!ELEMENT y EMPTY>
<!ATTLIST y label CDATA    #REQUIRED>   <!-- <y label=""> Label of the item. -->
<!-- ===================================== -->
<!--           end of PRESENTATION         -->
<!-- ===================================== -->

<!-- ===================================== -->
<!--              Monte Carlo              -->
<!-- ===================================== -->
<!-- <monte_carlo> If this element is present, an approximation for the integral and an estimate of its standard deviation will be computed.-->
<!ELEMENT monte_carlo (number_eval)>

<!-- <monte_carlo method="plain"> Specifies an integration method.  Four values are available: "plain", "analytic", "grid", "miser" and "vegas".  "plain" (default) requests an approximation based on uniform sampling.  "analytic" is only valid for LinearModel (consult Brad) and requests to output the analytic integral.  "grid" requests a numerical approximation using a uniform grid.  For "miser" requests to use the miser algorithm for approximating the integral described in Section 7.8 of Numerical Recipes (2nd Ed.).  "vegas", based on importance sampling, is described at <html:a href="http://www.gnu.org/software/gsl/manual/gsl-ref_23.html#SEC375">http://www.gnu.org/software/gsl/manual/gsl-ref_23.html#SEC375</html:a>. For any of these method, an estimate of the standard deviation will be computed as well.
-->
<!ATTLIST monte_carlo method (plain|grid|miser|analytic|vegas) #IMPLIED>

<!-- <number_eval> Specifies the numbers of function evaluations to use for each individual in the population data set.

To be specific, the number of evaluations is the product of the values in <value>s under <number_eval>.  If "method" is equal to "grid", the number of occurences of <value> under <number_eval> is equal to the number of random effects (per individual).  The i-th <value> is the number of uniformly space grid points in the i-th random effect.  If "method" is not equal to "grid", the number of occurences of <value> is equal to one; whence, the first occurence of <value> is the number of function evaluations to use for each individual.

The default value for each <value> is 1000 for "plain" and "miser".  10 for "grid".  
-->
<!ELEMENT number_eval (value)+ >

<!-- ================================================================================ -->
<!--                                                                                  -->
<!--                                 end of NONMEM                                    -->
<!--                                                                                  -->
<!-- ================================================================================ -->


<!-- ================================================================================ -->
<!--                                                                                  -->
<!--                                 GENERAL/COMMON                                   -->
<!--                                                                                  -->
<!-- ================================================================================ -->

<!--  <description>  Description of the parent element. -->
<!ELEMENT description (#PCDATA)>

