spk/aspk/spkcompiler/doc/SpkSourceML.dtd

<!-- <> <html:h2>SpkSourceML : MDA -&gt; ASPK Compiler Information Package</html:h2>

<html:p>
This documentation specifies the information passed from MDA to ASPK.
</html:p>
<html:p>
For MDA, it is to both request (ultimately) SPK to perform either individual analysis or population analysis and
present the results before the user when the analysis is completed.  For ASPK, it is 
to have SPK Compiler translate the information into an executable and have CSPK compute and return the results.
</html:p>
-->

<!-- <spksourceML> A package of information passed from MDA to ASPK.  The top element of SpkSourceML.

These information also must distinguish which client type (ex. NONMEM, SAAM-II, etc.) to which MDA is interfacing
so that ASPK can (almost) directly interpret the request written in their language.

Currently, the only supported client is NONMEM (ie. NM-TRAN).  
-->
<!ELEMENT spksourceML (nonmem)>

<!-- <spksourceML login="xxx"> The user's login name. -->
<!ATTLIST spksourceML login CDATA #REQUIRED>

<!-- ================================================================================ -->
<!--                                                                                  -->
<!--                                   NONMEM                                         -->
<!--                                                                                  -->
<!-- ================================================================================ -->

<!-- <nonmem> Composite of information expressed in the language familiar to NONMEM (ie. NM-TRAN) users. 
--> 
<!ELEMENT nonmem (constraint |model |presentation) >

<!-- <nonmem version="0.1"> The version number of <nonmem> source XML document.  For the initial version, it is "0.1". -->
<!ATTLIST nonmem version (0.1|0.2) #REQUIRED>

<!-- ===================================== -->
<!--              CONSTRAINT               -->
<!-- ===================================== -->
<!-- <constraint> Parameters to control the model's and the SPK's behaviors. 

Either, and only one of, the <ind_analysis> or <pop_analysis> element must follow under this element.
-->
<!ELEMENT constraint (ind_analysis? | pop_analysis?) >

<!-- <value> A value of arbitrary type: floating point number, integer, string or text.  

For numbers, you can use the decimal format (ex. 0.1) or scientific notation (ex. 1E-1).  The leading zeros before the decimal point or the trailing zeros after the decimal point may be omitted (ex. ".1", "1.") as long as there is one significant digit on either side (ex. "." by itself is illegal). -->
<!ELEMENT value (#PCDATA)>

<!-- <value fixed="no"> "yes" ensures the value to be retained during the optimization, default to "no". For processes other than optimization, this setting is ignored.-->
<!ATTLIST value fixed (yes|no) #IMPLIED>

<!-- <in> Sequence of initial values -->
<!ELEMENT in (value)+>

<!-- <low> Sequence of lower boudary values -->
<!ELEMENT low (value)+>

<!-- <up> Sequence of upper boundary values -->
<!ELEMENT up (value)+>

<!-- <data_labels> Sequence of data labels.  The <label>s are matched to the columns of data values from left to rigth, in the order of appearance.
The filename attribute is used to label the entire data set.

For example, given the &lt;data_labels&gt; definition,
<html:pre><html:code>
   &lt;data_labels filename="xxx.dat"&gt;
      &lt;<label> name="ID"/&gt;
      &lt;<label> name="TIME"/&gt;
      &lt;<label> name="CP" synonym="DV"/&gt;
   &lt;/data_labels&gt; 
</html:code></html:pre>

and the data below,
<html:pre><html:code>
   woo   0.0   0.15
   woo   1.0   0.23
   foo   0.1   0.2
   foo   1.1   0.31
   foo   2.2   0.4
</html:code></html:pre>

the labels (and synonyms) are associated with values as follows:
<html:ul>
   <html:li>The first individual's ID is "woo". Its sample, CP or DV, was 0.15 at TIME=0.0 and 0.23 at TIME=1.0.
   </html:li>
   <html:li>
The second individual's ID is "foo", Its sample, CP or DV was 0.2 at TIME=0.1, 0.31 at TIME=1.1 and 0.4 at TIME=2.2.
   </html:li>
</html:ul>
Either label or synonym may be one of the NONMEM reserved identifiers, among which the (bare minimally) required identifiers are emphasized:
<html:ul>
   <html:li><html:b>ID</html:b> (to group each individual's data block)</html:li>
   <html:li>L1</html:li>
   <html:li>L2</html:li>
   <html:li><html:b>DV</html:b> (to indicate the measurements to fit)</html:li>
   <html:li>MDV</html:li>
   <html:li>TIME</html:li>
   <html:li>DATA</html:li>
   <html:li>DAT1</html:li>
   <html:li>DAT2</html:li>
   <html:li>DAT3</html:li>
   <html:li>DROP</html:li>
   <html:li>SKIP</html:li>
   <html:li>EVID</html:li>
   <html:li>AMT</html:li>
   <html:li>RATE</html:li>
   <html:li>SS</html:li>
   <html:li>II</html:li>
   <html:li>ADDL</html:li>
   <html:li>CMT</html:li>
   <html:li>PCMT</html:li>
   <html:li>CALL</html:li>
   <html:li>CONT</html:li>
</html:/ul>
-->
<!ELEMENT data_labels (label)+>

<!-- <data_labels filename="xxx"> The label (ie. filename) for the entire data set.
-->
<!ATTLIST data_labels filename CDATA #REQUIRED>

<!-- <label> The name/label of the item. -->
<!ELEMENT label EMPTY>

<!-- <label name=""> A string begining with an alphabet followed by any combination of alphabets, numbers, _ (underscore) that serves as the label.  Case-sensitive.  -->
<!ATTLIST label name CDATA #REQUIRED>

<!-- <label synonym=""> [optional] Similar to "name" but this serves as an alias/synonym that references the same entity as "name" does, default to "" (none).
-->
<!ATTLIST label synonym CDATA #IMPLIED>

<!-- <ind_analysis> Request for the individual level analysis. The <model> definition is assumed to be for a single individual.-->
<!ELEMENT ind_analysis (description? | data_labels | theta | omega+ | ind_stat? | simulation?)>

<!-- <ind_analysis is_estimation="yes"> "yes" for the parameter estimation to be performed.  When set to "no", the parameter estimation will be skipped.
-->
<!ATTLIST ind_analysis is_estimation (yes|no) #REQUIRED>

<!-- <ind_analysis mitr="n"> Maximum iterations attemped before the optimizer gives in. Required when "is_estimation" is set to "yes".  -->
<!ATTLIST ind_analysis mitr CDATA #IMPLIED>

<!-- <ind_analysis is_restart="yes"> Request to warm-start the optimization process; "yes" or "no", default to "yes".-->
<!ATTLIST ind_analysis is_restart (yes|no) #IMPLIED>

<!-- <pop_analysis> Request for the population level analysis. The <model> definition is assumed to be for a population.-->
<!ELEMENT pop_analysis ( description? | data_labels | theta | omega+ | sigma+ | pop_stat? | simulation?)>

<!-- <pop_analysis is_estimation="yes"> "yes" for the parameter estimation to be performed. When set to "no", the parameter estimation will be skipped.
-->
<!ATTLIST pop_analysis is_estimation (yes|no) #REQUIRED>

<!-- <pop_analysis approximation="fo"> Approximation method: "fo" for First Order, "foce" for Modified Expected Hessian, "laplace" for Modified Laplace. 
-->
<!ATTLIST pop_analysis approximation (fo|foce|laplace) #REQUIRED>

<!-- <pop_analysis pop_size="10"> Number of individuals in the population, must be a poitive integer.-->
<!ATTLIST pop_analysis pop_size      CDATA    #REQUIRED>

<!-- <pop_analysis mitr="n"> Maximum number iterations attemped before the optimizer gives in. Required when "is_estimation" is set to "yes".  Required when "is_estimation" is set to "yes".-->
<!ATTLIST ind_analysis mitr CDATA #IMPLIED>

<!-- <pop_analysis is_restart="yes"> Request to warm-start the optimization process; "yes" or "no", default to "yes".-->
<!ATTLIST pop_analysis is_restart (yes|no) #IMPLIED>

<!-- <pop_analysis is_eta_out="no"> Request to evaluate the eta at the final estimated population parameter values; "yes" or "no", default to "no". -->
<!ATTLIST pop_analysis is_eta_out (yes|no) #IMPLIED>

<!-- <theta> The NONMEM theta vector.-->
<!ELEMENT theta (in | low | up)>

<!-- <theta length="10"> Length of the theta vector. The value must match the number of values appeared under the tree. -->
<!ATTLIST theta length CDATA #REQUIRED>

<!-- <omega> The NONMEM Omega matrix. (in) will list the lower triangle elements if the matrix structure is said to be "block" or the diagonal elements if it is "diagonal", in the row-major order. 
-->
<!ELEMENT omega (in)>

<!-- <omega dimension=""> Dimension of square Omega matrix. For example, for a 3 by 3, say "3". -->
<!ATTLIST omega dimension CDATA #REQUIRED>

<!-- <omega struct="block"> Structure of Omega matrix, either "block" or "diagonal". -->
<!ATTLIST omega struct (block|diagonal) #REQUIRED>

<!-- <sigma> The NONMEM Sigma matrix. (in) will list the lower triangle elements if the matrix structure is said to be "block" or the diagonal elements if it is "diagonal" in the row-major order.
-->
<!ELEMENT sigma (in)>

<!-- <sigma dimension="3"> Dimension of the square Sigma matrix. For example, for a 3 by 3, say "3". -->
<!ATTLIST sigma dimension CDATA #REQUIRED>

<!-- <sigma same_as_previous="no"> "yes" to duplicate the initial and final values of the previously appeared Sigma block's values to this block's, default to "no". -->
<!ATTLIST sigma same_as_previous (yes|no) #IMPLIED>

<!-- <sigma struct="block"> Structure of Sigma matrix, either "block" or "diagonal". -->
<!ATTLIST sigma struct (block|diagonal) #REQUIRED>

<!-- <simulation> Request to simulate a data set. 

If this element appears when the population analysis is chosen, a data set for n number of individuals will be generated, where n is the number of individuals in the population. If it is for the individual analysis, a data set for a single individual will be generated.  The simulated data set replaces the original data set for parameter estimation (if requested).
-->
<!ELEMENT simulation EMPTY>

<!-- <simulation seed="12345"> Positive integer used as a seed to generate random numbers. -->
<!ATTLIST simulation seed CDATA #REQUIRED>

<!-- <pop_stat> Request for the post statistial analysis on the final estimate for the population parameter. This process will be skipped unless the "is_estimation" of <pop_analysis> is set to "yes". -->
<!ELEMENT pop_stat EMPTY>

<!-- <pop_stat covariance_form="r"> Form of covariance matrix; "r" for R^-1, "rsr" for R^-1*S*R^-1, "s" for S^-1.  -->
<!ATTLIST pop_stat covariance_form    (rsr|r|s)  #REQUIRED>

<!-- <pop_stat is_covariance_out="yes"> "yes" to request to return the covariance matrix of the final estimate(s) for population parameter, default to "no". -->
<!ATTLIST pop_stat is_covariance_out  (yes|no) #IMPLIED>

<!-- <pop_stat is_inverse_covariance_out="yes"> "yes" to request to return the inverse of covariance matrix of the final estimate(s) for population parameter, default to "no". -->
<!ATTLIST pop_stat is_inverse_covariance_out  (yes|no) #IMPLIED>

<!-- <pop_stat is_stderror_out="yes"> "yes" to request to return the standard error of the final estimate for population parameter, default to "no".  -->
<!ATTLIST pop_stat is_stderror_out    (yes|no) #IMPLIED>

<!-- <pop_stat is_correlation_out="yes"> "yes" to request to return the correlation matrix of the final estimate for population parameter, default to "no".  -->
<!ATTLIST pop_stat is_correlation_out (yes|no) #IMPLIED>

<!-- <pop_stat is_coefficient_out="yes"> "yes" to request to return the coefficient for the final estimate for population parameter, default to "no".  -->
<!ATTLIST pop_stat is_coefficient_out (yes|no) #IMPLIED>

<!-- <pop_stat is_confidence_out="yes"> "yes" to request to return the confidence interfals for the final estimate for population parameter, default to "no".  -->
<!ATTLIST pop_stat is_confidence_out (yes|no) #IMPLIED>

<!-- <ind_stat>  Request for the post statistial analysis on the final estimate(s) for individual parameter(s).  This process will be skipped unless the "is_estimation" of <ind_analysis> is set to "yes".  -->
<!ELEMENT ind_stat EMPTY>

<!-- <ind_stat is_stderror_out="yes"> "yes" to request to return the standard error of the final estimate(s) for individual parameter(s), default to "no".  -->
<!ATTLIST ind_stat is_stderror_out    (yes|no) #IMPLIED>

<!-- <ind_stat is_correlation_out="yes"> "yes" to request to return the correlation matrix of the final estimate(s) of individual parameter, default to "no".  -->
<!ATTLIST ind_stat is_correlation_out (yes|no) #IMPLIED>

<!-- <ind_stat is_covariance_out="yes"> "yes" to request to return the covariance matrix of the final estimate(s) for individual parameter, default to "no". -->
<!ATTLIST ind_stat is_covariance_out  (yes|no) #IMPLIED>

<!-- <ind_stat is_inverse_covariance_out="yes"> "yes" to request to return the inverse of covariance matrix of the final estimate(s) for individual parameter, default to "no". -->
<!ATTLIST ind_stat is_inverse_covariance_out  (yes|no) #IMPLIED>

<!-- <ind_stat is_coefficient_out="yes"> "yes" to request to return the coefficents for the final estimate(s) for individual parameter, default to "no". -->
<!ATTLIST ind_stat is_coefficient_out  (yes|no) #IMPLIED>

<!-- <ind_stat is_confidence_out="yes"> "yes" to request to return the confidence intervals for the final estimate(s) for individual parameter, default to "no". -->
<!ATTLIST ind_stat is_confidence_out  (yes|no) #IMPLIED>

<!-- ===================================== -->
<!--          END OF CONSTRAINT            -->
<!-- ===================================== -->
<!-- ===================================== -->
<!--                MODEL                  -->
<!-- ===================================== -->

<!-- <model> Definition of NONMEM mixed effect model. -->
<!ELEMENT model ( description? | (pred | (comp_model? | pk | error | diffeqn?) ) ) >

<!-- <model advan=""> ADVAN model chosen from {advan1, advan2, advan3, advan4, advan5, advan6, advan7, advan8, advan9, advan10, advan11, advan12}.  If this attribute is omitted, <pred> must be defined.  If, on the other hand, this attribute is set to a valid value yet <pred> is defined, this setting is ignored.
-->
<!ATTLIST model advan (advan1|advan2|advan3|advan4|advan5|advan6
                     |advan7|advan8|advan9|advan10|advan11|advan12) #IMPLIED>

<!-- <model trans="trans1"> Parameterization for the ADVAN model chosen from {trans1, trans2, trans3, trans4, trans5, trans6}, default to "trans1".  If no ADVAN model is used, this setting is ignored.
-->
<!ATTLIST model trans (trans1|trans2|trans3|trans4|trans5|trans6) #IMPLIED>

<!-- <model tolerance=""> Required number of digits of accuracy used when an ADVAN model is used.
-->
<!ATTLIST model tolerance CDATA #IMPLIED>

<!-- <pred> Equivalent of $PRED block that serves as the total of PK, ERROR and SUBROUTINES records. 
<html:p>
The same requirements and rules imposed on $PRED are applied to this element. 
</html:p>
<html:p>
NOTE: This element contains a set of equations written in the NONMEM abbriviated code, which is a subset of FORTRAN 77.  Cases are ignored; that is, "tIMe" and "TiMe" are treated as the same. 
</html:p>
-->
<!ELEMENT pred (#PCDATA)>

<!-- <pk> Equivalent of $PK block. Required when an ADVAN model is used.
<html:p>
The same requirements and rules imposed on PK are applied to this element.
</html:p>
<html:p>
NOTE: This element contains a set of equations written in the NONMEM abbriviated code, which is a subset of FORTRAN 77.  Cases are ignored; that is, "tIMe" and "TiMe" are treated as the same. 
</html:p>
-->
<!ELEMENT pk (#PCDATA)>

<!-- <error> Equivalent of $ERROR block.  Required when an ADVAN model is used.

<html:p>
The same requirements and rules imposed on ERROR are applied to this element.
</html:p>
<html:p>
This element contains a set of equations written in the NONMEM abbriviated code, which is a subset of FORTRAN 77.  Cases are ignored; that is, "tIMe" and "TiMe" are treated as the same.  
</html:p>
-->
<!ELEMENT error (#PCDATA)>

<!-- <comp_model> Definition of a compartmental model.  Required when a general model (ADVAN5-9) is used.

<comp_model> would usually follow <pk> block. <pk> is omitted if <link>s are specified to define the compartmental model.  
The order in which the <compartment>s appear is interpreted as the compartment number.
-->
<!ELEMENT comp_model (compartment+ | link*) >

<!-- <comp_model ncompartments="n"> Total number of compartments other than the output compartment.  The default is the number of <compartment>s. -->
<!ATTLIST comp_model ncompartments CDATA #IMPLIED>

<!-- <comp_model nequilibrium="0"> The number of equilibrium compartments, default to 0.  -->
<!ATTLIST comp_model nequilibrium  CDATA #IMPLIED>

<!-- <comp_model nparameters="n"> The number of basic PK parameters. The default is the number of bsic PK parameters defined in the <pk> block.-->
<!ATTLIST comp_model nparameters   CDATA #IMPLIED>

<!-- <compartment> Definition of a compartment.-->
<!ELEMENT compartment EMPTY>

<!-- <compartment name="">  Name of the compartment.-->
<!ATTLIST compartment name CDATA #REQUIRED>

<!-- <compartment initial_off="no"> "yes" makes this compartment initially off, default to "no". -->
<!ATTLIST compartment initial_off (yes|no) #IMPLIED>

<!-- <compartment no_off="no"> "yes" prohibits this compartment from being turned on or off, default to "no". -->
<!ATTLIST compartment no_off (yes|no) #IMPLIED>

<!-- <compartment no_dose="no"> "yes" prohibits this compartment from receiving a dose, default to "no".  -->
<!ATTLIST compartment no_dose (yes|no) #IMPLIED>

<!-- <compartment equilibrium="no"> "yes" makes this compartment an equilibrium compartment, default to "no". -->
<!ATTLIST compartment equilibrium (yes|no) #IMPLIED>

<!-- <compartment exclude="no"> "yes" makes this compartment's amount exclueded from the amount of the output compartment (ADVAN9 only), default to "no". -->
<!ATTLIST compartment exclude (yes|no) #IMPLIED>

<!-- <compartment default_observation="no"> "yes" makes this compartment the default observation compartment, default to "no" which means the compartment with the name "CENTRAL" or the first compartment.-->
<!ATTLIST compartment default_observation (yes|no) #IMPLIED>

<!-- <compartment default_dose="no"> "yes" makes this compartment the edefault dose compartment, default to "no" which means the compartment with the name "DEPOT" or the first compartment.-->
<!ATTLIST compartment default_dose (yes|no) #IMPLIED>

<!-- <link> Required only in the absence of <pk> abbrivated code. <link> defines a flow rate constant, k,  from compartment-"from" to compartment-"to".  If the flow is bidirectional, specify the flows with two <link> elements.
-->
<!ELEMENT link EMPTY>

<!-- <link from=""> Identification number of the compartment from which the flow originates. -->
<!ATTLIST link from CDATA #REQUIRED>

<!-- <link to=""> Identification number of the compartment to which the flow move in. -->
<!ATTLIST link to CDATA #REQUIRED>

<!-- <link k=""> Flow rate constant of the compartment -->
<!ATTLIST link k CDATA #REQUIRED>

<!-- <diffeqn> System of differential equations, equivalent to $DES record in NONMEM. Required with ADVAN6, 8, 9. 

The same requirements and rules imposed on $DES are applied to this element.

NOTE: This element contains a set of equations written in the NONMEM abbriviated code, which is a subset of FORTRAN 77.  Cases are ignored; that is, "tIMe" and "TiMe" are treated as the same.  
-->
<!ELEMENT diffeqn (#PCDATA)>

<!-- ===================================== -->
<!--             end of  MODEL             -->
<!-- ===================================== -->

<!-- ===================================== -->
<!--              PRESENTATION             -->
<!-- ===================================== -->

<!-- <presentation> Information to control the data source and the format in which the results are displayed. 

There can be as many as 10 <table>s and 20 <scatterplot>s.
-->
<!ELEMENT presentation (table? | scatterplot?)>

<!-- <table> Information to request to produce a table. The table columns are placed in the order of which the <column> appears. There are as many as 10 tables.-->
<!ELEMENT table (description? | column+)>

<!-- <table save_as=""> The file name in which the table is saved, default to empty which requests display only.-->
<!ATTLIST table save_as CDATA #IMPLIED>

<!-- <table header="one"> The frequency in which the header (ie. labels) appears.  "one" requests the header to be appeared only once in the first row for the entire table.  "none" requests no header at all. "every" requests a header block per segment, where a segment is composed of 900 records.
-->
<!ATTLIST table header (none|one|every) #REQUIRED>

<!-- <column> A table column.-->
<!ELEMENT column EMPTY>

<!-- <column label=""> The name associate with the item to display along with DV, PRED, RES and WRES. It may include one of the followings:
<html:ul>
   <html:li>ETA(1), ETA(2), ..., ETA(10), ..., ETA(70), etc., corresponding to eta(1), eta(2).</html:li>
   <html:li>Data labels
</html:ul>
-->
<!ATTLIST column label CDATA #REQUIRED> 

<!-- <column sort_order=""> The priority by which this column data is sorted.  If omitted, no sorting is applied.
-->
<!ATTLIST column sort_order CDATA #IMPLIED>

<!-- <column appearance_order=""> The order in which the column appears in the table (from left to right). -->
<!ATTLIST column appearance_order CDATA #REQUIRED>

<!-- <scatterplot> Information to request to produce a scatterplot. At most 2 <by>s are allowed.-->
<!ELEMENT scatterplot (description? | x+ | y+ | by*)>

<!-- <scatterplot unit_slope="hide"> "show" to show the unit slope, "hide" to hide it, default to "hide". -->
<!ATTLIST scatterplot unit_slope (show|hide) #IMPLIED>

<!-- <scatterplot x0_line="show"> "show" to show a vertical line on x=0, "hide" to hide it, default to "show".-->
<!ATTLIST scatterplot x0_line    (show|hide) #IMPLIED>

<!-- <scatterplot y0_line="show"> "show" to show a horizontal line on y=0, "hide" to hide it, default to "show". -->
<!ATTLIST scatterplot y0_line    (show|hide) #IMPLIED>

<!-- <scatterplot from="1"> The number of the first data record which may contribute to the scatterplot, default to 1.-->
<!ATTLIST scatterplot from      CDATA       #IMPLIED>

<!-- <scatterplot to="900"> The number of the last data record which may contribute to the scatterplot, default to "from"+899.-->
<!ATTLIST scatterplot to        CDATA       #IMPLIED>

<!-- <x> Item to be plotted on the x axis.  It may be one of the followings:
<html:ul>
   <html:li>PRED, RES and WRES</html:li>
   <html:li>ETA(1), ETA(2), ..., ETA(10), ..., ETA(70), etc., corresponding to eta(1), eta(2).</html:li>
   <html:li>Data labels</html:li>
</html:ul>
 -->
<!ELEMENT x EMPTY>
<!ATTLIST x label CDATA #REQUIRED>   <!-- <x label=""> Label of the item. -->

<!-- <by> Item to separate (page-break) the scatterplot.  At most 2 data items may be specified per scatterplot.-->
<!ELEMENT by EMPTY>
<!ATTLIST by label CDATA #REQUIRED><!-- <by label="">  Label of the item that separates the scatterplot. -->

<!-- <y> Item to be plotted on the y axis.   It may be one of the followings:
<html:ul>
   <html:li>PRED, RES and WRES</html:li>
   <html:li>ETA(1), ETA(2), ..., ETA(10), ..., ETA(70), etc., corresponding to eta(1), eta(2).</html:li>
   <html:li>Data labels</html:li>
</html:ul>
-->
<!ELEMENT y EMPTY>
<!ATTLIST y label CDATA    #REQUIRED>   <!-- <y label=""> Label of the item. -->
<!-- ===================================== -->
<!--           end of PRESENTATION         -->
<!-- ===================================== -->


<!-- ================================================================================ -->
<!--                                                                                  -->
<!--                                 end of NONMEM                                    -->
<!--                                                                                  -->
<!-- ================================================================================ -->


<!-- ================================================================================ -->
<!--                                                                                  -->
<!--                                 GENERAL/COMMON                                   -->
<!--                                                                                  -->
<!-- ================================================================================ -->

<!--  <description>  Description of the parent element. -->
<!ELEMENT description (#PCDATA)>

