trunk/spk/aspk/spkcompiler/doc/SpkML.dtd

<!-- <> <html:h2>&lt;SpkML : MDA - ASPK Information Package&gt;</html:h2>

<html:p>
This documentation specifies the information passed between MDA and ASPK.
</html:p>
<html:p>
For MDA, it is to both request (ultimately) SPK to perform either individual analysis or population analysis and
present the results before the user when the analysis is completed.  For ASPK, it is 
to have SPK Compiler translate the information into an executable and have CSPK compute and return the results.
</html:p>
<html:p>
The documentation does not impose a form or mechanism as to how the information are composed or submitted directly or indirectly.
Despite that this specification is expressed in a complete and single form of XML, namely <spkml>,
it does not mean that the instance of <spkml> has to exist as a single XML file.
Some of the subelements of <spkml> may or may not be generated by MDA or may be even replaced 
by references to existing objects (such as model definitions) stored somewhere else.
No matter how they are composed, however, the tasks written under <spkml> must be achieved.  
That's what this documentation is about.
</html:p>
-->

<!-- <spkml> A complete package of information passed between MDA - ASPK.  Natually, there are two kinds:

<html:ul>
  <html:li>MDA -> ASPK: Process request</html:li>
  <html:li>ASPK -> MDA: Result report</html:li>
</html:ul>

These information also must distinguish which client type (ex. NONMEM, SAAM-II, etc.) to which MDA is interfacing
so that ASPK can (almost) directly interpret the request and compose the result using their language
without going though an extra translation phase (ie. client language <-> SPK lanugage) which may risk some loss of information.
An additional advantage of this approach is that it will leave the task relatively simple for those brave folks 
who may wish to bipass MDA and directly submit a request to ASPK.

Currently, the only supported client is NONMEM (ie. NM-TRAN).  
-->
<!ELEMENT spkml (nonmem)>

<!-- ================================================================================ -->
<!--                                                                                  -->
<!--                                   NONMEM                                         -->
<!--                                                                                  -->
<!-- ================================================================================ -->

<!-- <nonmem> Composite of information expressed in the language familiar to NONMEM (ie. NM-TRAN) users. 

<html:p>For MDA to request SPK to perform either the individual analysis or the population analysis (including
data simulation and/or statistical analysis) and to present the resulting values before the user,
some mechanism must support MDA to be able to associate, if not to remember, the pair of the request and its results when 
presenting the results.  Conceptually, this can be done by having MDA submit all information needed to have
SPK compute and ultimately for itself to display the results at once when requesting (MDA -> ASPK), 
and have ASPK return the results and its originating request information all together (ASPK -> MDA).
</html:p>

<html:h3>Example</html:h3>

<html:h4>MDA -> ASPK: process request</html:h4>
<html:pre><html:code>
   &lt;nonmem&gt;
      &lt;<nm_input>&gt;
      ...
      &lt;/nm_input&gt;
   &lt;/nonmem&gt;
</html:code></html:pre>

<html:h4>ASPK -> MDA: result report</html:h4>
<html:pre><html:code>
   &lt;nonmem&gt;
      &lt;<nm_input>&gt;
      ...
      &lt;/nm_input&gt;
      &lt;<nm_result>&gt;
      ...
      &lt;/nm_result&gt;
   &lt;/nonmem&gt;
</html:code></html:pre>
--> 
<!ELEMENT nonmem (nm_input | nm_result?)>

<!-- <nonmem version="0.1"> The version number, must be "0.1". -->
<!ATTLIST nonmem version (0.1|0.2) #REQUIRED>

<!-- ================================================================================ -->
<!--                                   INPUT                                          -->
<!-- ================================================================================ -->

<!-- <nm_input> Information given by MDA to ASPK -->
<!ELEMENT nm_input (nm_request | nm_verbatim?)>

<!-- <nm_request> Request for SPK to perform either the individual analysis or popualtion analysis.

<nm_data> is not required when data simulation is requested.
-->
<!ELEMENT nm_request (nm_constraint | nm_model | nm_data? | nm_presentation?)>

<!-- <nm_verbatim> Extra information, which does not affect SPK's behavior but may be needed later by MDA. -->
<!ELEMENT nm_verbatim (nm_control)>

<!-- ===================================== -->
<!--              CONSTRAINT               -->
<!-- ===================================== -->

<!-- <nm_constraint> Parameters to control the model's and the SPK's behaviors. 

Either, and only one of, the <ind_analysis> or <pop_analysis> element must follow under this element.
-->
<!ELEMENT nm_constraint (ind_analysis? | pop_analysis?) >

<!-- <value> A value of arbitrary type: floating point number, integer, string or text.  For numbers, you can use the decimal format (ex. 0.1) or scientific notation (ex. 1E-1).  The leading zeros before the decimal point or the trailing zeros after the decimal point may be omitted (ex. ".1", "1.") as long as there is one significant digit on either side (ex. "." by itself is illegal). -->
<!ELEMENT value (#PCDATA)>

<!-- <value fixed="no"> "yes" ensures the value to be retained during the optimization, default to "no". For processes other than optimization, this setting is ignored.-->
<!ATTLIST value fixed (yes|no) #IMPLIED>

<!-- <in> Sequence of initial values -->
<!ELEMENT in (value)+>

<!-- <low> Sequence of lower boudary values -->
<!ELEMENT low (value)+>

<!-- <up> Sequence of upper boundary values -->
<!ELEMENT up (value)+>

<!-- <data_labels> Sequence of data labels.  The <label>s are matched to the <item>s in <individual> in the order of appearance.

For example, given the &lt;data_labels&gt; definition,
<html:pre><html:code>
   &lt;data_labels&gt;
      &lt;<label> name="ID"/&gt;
      &lt;<label> name="TIME"/&gt;
      &lt;<label> name="CP" synonym="DV"/&gt;
   &lt;/data_labels&gt; 
</html:code></html:pre>

and the data below,
<html:pre><html:code>
   &lt;<nm_data>&gt;
      &lt;<individual> length="2"&gt;
         &lt;<record>&gt;
            &lt;<item> value="woo"/&gt;
            &lt;<item> value="0.0"/&gt;
            &lt;<item> value="0.15"/&gt;
         &lt;/record&gt;
         &lt;<record>&gt;
            &lt;<item> value="woo"/&gt;
            &lt;<item> value="1.0"/&gt;
            &lt;<item> value="0.23"/&gt;
         &lt;/record&gt;
      &lt;/individual&gt;
      &lt;<individual> length="3"&gt;
         &lt;<record>&gt;
            &lt;<item> value="yah"/&gt;
            &lt;<item> value="0.1"/&gt;
            &lt;<item> value="0.2"/&gt;
         &lt;/record&gt;
         &lt;<record>&gt;
            &lt;<item> value="yah"/&gt;
            &lt;<item> value="1.1"/&gt;
            &lt;<item> value="0.31"/&gt;
         &lt;/record&gt;
         &lt;<record>&gt;
            &lt;<item> value="yah"/&gt;
            &lt;<item> value="2.2"/&gt;
            &lt;<item> value="0.4"/&gt;
         &lt;/record&gt;
      &lt;/individual&gt;

   &lt;/nm_data&gt;
</html:code></html:pre>

The first individual's ID is "woo". Its sample, CP or DV, was 0.15 at TIME=0.0 and 0.23 at TIME=1.0.

The second individual's ID is "yah", Its sample, CP or DV was 0.2 at TIME=0.1, 0.31 at TIME=1.1 and 0.4 at TIME=2.2.

Either label or synonym may be one of the NONMEM reserved identifiers, among which the (bare minimal) required identifiers are emphasized:
<html:ul>
   <html:li><html:b>ID</html:b> (to group each individual's data block)</html:li>
   <html:li>L1</html:li>
   <html:li>L2</html:li>
   <html:li><html:b>DV</html:b> (to indicate the measurements to fit)</html:li>
   <html:li>MDV</html:li>
   <html:li>TIME</html:li>
   <html:li>DATA</html:li>
   <html:li>DAT1</html:li>
   <html:li>DAT2</html:li>
   <html:li>DAT3</html:li>
   <html:li>DROP</html:li>
   <html:li>SKIP</html:li>
   <html:li>EVID</html:li>
   <html:li>AMT</html:li>
   <html:li>RATE</html:li>
   <html:li>SS</html:li>
   <html:li>II</html:li>
   <html:li>ADDL</html:li>
   <html:li>CMT</html:li>
   <html:li>PCMT</html:li>
   <html:li>CALL</html:li>
   <html:li>CONT</html:li>
</html:/ul>
-->
<!ELEMENT data_labels (label)+>

<!-- <label> The name/label of the i-th <item>, where i is the order in which this label appears under <data_labels>.
-->
<!ELEMENT label EMPTY>

<!-- <label name=""> A string begining with an alphabet followed by any combination of alphabets, numbers, _ (underscore) that serves as the label.  Case-sensitive.  -->
<!ATTLIST label name CDATA #REQUIRED>

<!-- <label synonym=""> [optional] Similar to "name" but this serves as an alias/synonym that references the same entity as "name" does, default to "" (none).
-->
<!ATTLIST label synonym CDATA #IMPLIED>

<!-- <ind_analysis> Request for the individual level analysis. The <nm_model> definition is assumed to be for a single individual.-->
<!ELEMENT ind_analysis (submission | description? | data_labels | theta | omega+ | ind_stat? | simulation?)>

<!-- <ind_analysis is_estimation="yes"> "yes" for the parameter estimation to be performed.  When set to "no", the parameter estimation will be skipped.
-->
<!ATTLIST ind_analysis is_estimation (yes|no) #REQUIRED>

<!-- <ind_analysis mitr="n"> Maximum iterations attemped before the optimizer gives in. Required when "is_estimation" is set to "yes".  -->
<!ATTLIST ind_analysis mitr CDATA #IMPLIED>

<!-- <ind_analysis is_restart="yes"> Request to warm-start the optimization process; "yes" or "no", default to "yes".-->
<!ATTLIST ind_analysis is_restart (yes|no) #IMPLIED>

<!-- <pop_analysis> Request for the population level analysis. The <nm_model> definition is assumed to be for a population.-->
<!ELEMENT pop_analysis (submission | description? | data_labels | theta | omega+ | sigma+ | pop_stat? | simulation?)>

<!-- <pop_analysis is_estimation="yes"> "yes" for the parameter estimation to be performed. When set to "no", the parameter estimation will be skipped.
-->
<!ATTLIST pop_analysis is_estimation (yes|no) #REQUIRED>

<!-- <pop_analysis approximation="fo"> Approximation method: "fo" for First Order, "foce" for Modified Expected Hessian, "laplace" for Modified Laplace. 
-->
<!ATTLIST pop_analysis approximation (fo|foce|laplace) #REQUIRED>

<!-- <pop_analysis pop_size="10"> Number of individuals in the population, must be a poitive integer.-->
<!ATTLIST pop_analysis pop_size      CDATA    #REQUIRED>

<!-- <pop_analysis mitr="n"> Maximum number iterations attemped before the optimizer gives in. Required when "is_estimation" is set to "yes".  Required when "is_estimation" is set to "yes".-->
<!ATTLIST ind_analysis mitr CDATA #IMPLIED>

<!-- <pop_analysis is_restart="yes"> Request to warm-start the optimization process; "yes" or "no", default to "yes".-->
<!ATTLIST pop_analysis is_restart (yes|no) #IMPLIED>

<!-- <pop_analysis is_sigma_out="yes"> Request to return the final value for sigma matrix; "yes" or "no", default to "yes".-->
<!ATTLIST pop_analysis is_sigma_out (yes|no) #IMPLIED>

<!-- <theta> theta vector.-->
<!ELEMENT theta (in | low | up)>

<!-- <theta length="10"> Length of the theta vector. The value must match the number of values appeared under the tree. -->
<!ATTLIST theta length CDATA #REQUIRED>

<!-- <omega> Omega matrix. (in) will list the lower triangle elements if the matrix structure is said to be "block" or the diagonal elements if it is "diagonal", in the row-major order. 
-->
<!ELEMENT omega (in)>

<!-- <omega dimension=""> Dimension of square Omega matrix. For example, for a 3 by 3, say "3". -->
<!ATTLIST omega dimension CDATA #REQUIRED>

<!-- <omega struct="block"> Structure of Omega matrix, either "block" or "diagonal". -->
<!ATTLIST omega struct (block|diagonal) #REQUIRED>

<!-- <sigma> Sigma matrix. (in) will list the lower triangle elements if the matrix structure is said to be "block" or the diagonal elements if it is "diagonal" in the row-major order.
-->
<!ELEMENT sigma (in)>

<!-- <sigma dimension="3"> Dimension of the square Sigma matrix. For example, for a 3 by 3, say "3". -->
<!ATTLIST sigma dimension CDATA #REQUIRED>

<!-- <sigma same_as_previous="no"> "yes" to duplicate the initial and final values of the previously appeared Sigma block's values to this block's, default to "no". -->
<!ATTLIST sigma same_as_previous (yes|no) #IMPLIED>

<!-- <sigma struct="block"> Structure of Sigma matrix, either "block" or "diagonal". -->
<!ATTLIST sigma struct (block|diagonal) #REQUIRED>

<!-- <simulation> Request to simulate data. If this element appears when the population analysis is chosen, n number of data sets will be generated, where n is the number of individuals in the population. If it is for the individual analysis, only one data set is generated.
-->
<!ELEMENT simulation EMPTY>

<!-- <simulation seed="12345"> Positive integer used as a seed to generate random numbers. -->
<!ATTLIST simulation seed CDATA #REQUIRED>

<!-- <pop_stat> Request for the post statistial analysis on the final estimate for the population parameter. This process will be skipped unless the "is_estimation" of <pop_analysis> is set to "yes". -->
<!ELEMENT pop_stat EMPTY>

<!-- <pop_stat covariance_form="r"> Form of covariance matrix; "r" for R^-1, "rsr" for R^-1*S*R^-1, "s" for S^-1.  -->
<!ATTLIST pop_stat covariance_form    (rsr|r|s)  #REQUIRED>

<!-- <pop_stat is_covariance_out="yes"> "yes" to request to return the covariance matrix of the final estimate(s) for population parameter, default to "no". -->
<!ATTLIST pop_stat is_covariance_out  (yes|no) #IMPLIED>

<!-- <pop_stat is_inverse_covariance_out="yes"> "yes" to request to return the inverse of covariance matrix of the final estimate(s) for population parameter, default to "no". -->
<!ATTLIST pop_stat is_inverse_covariance_out  (yes|no) #IMPLIED>

<!-- <pop_stat is_stderror_out="yes"> "yes" to request to return the standard error of the final estimate for population parameter, default to "no".  -->
<!ATTLIST pop_stat is_stderror_out    (yes|no) #IMPLIED>

<!-- <pop_stat is_correlation_out="yes"> "yes" to request to return the correlation matrix of the final estimate for population parameter, default to "no".  -->
<!ATTLIST pop_stat is_correlation_out (yes|no) #IMPLIED>

<!-- <ind_stat>  Request for the post statistial analysis on the final estimate(s) for individual parameter(s).  This process will be skipped unless the "is_estimation" of <ind_analysis> is set to "yes".  -->
<!ELEMENT ind_stat EMPTY>

<!-- <ind_stat is_stderror_out="yes"> "yes" to request to return the standard error of the final estimate(s) for individual parameter(s), default to "no".  -->
<!ATTLIST ind_stat is_stderror_out    (yes|no) #IMPLIED>

<!-- <ind_stat is_correlation_out="yes"> "yes" to request to return the correlation matrix of the final estimate(s) of individual parameter, default to "no".  -->
<!ATTLIST ind_stat is_correlation_out (yes|no) #IMPLIED>

<!-- <ind_stat is_covariance_out="yes"> "yes" to request to return the covariance matrix of the final estimate(s) for individual parameter, default to "no". -->
<!ATTLIST ind_stat is_covariance_out  (yes|no) #IMPLIED>

<!-- <ind_stat is_inverse_covariance_out="yes"> "yes" to request to return the inverse of covariance matrix of the final estimate(s) for individual parameter, default to "no". -->
<!ATTLIST ind_stat is_inverse_covariance_out  (yes|no) #IMPLIED>

<!-- ===================================== -->
<!--          END OF CONSTRAINT            -->
<!-- ===================================== -->

<!-- ===================================== -->
<!--                MODEL                  -->
<!-- ===================================== -->

<!-- <nm_model> Definition of NONMEM mixed effect model. -->
<!ELEMENT nm_model ( description? | (pred | (comp_model? | pk | error | diffeqn?) ) ) >

<!-- <nm_model advan=""> ADVAN model chosen from {advan1, advan2, advan3, advan4, advan5, advan6, advan7, advan8, advan9, advan10, advan11, advan12}.  If this attribute is omitted, <pred> must be defined.  If, on the other hand, this attribute is set to a valid value yet <pred> is defined, this setting is ignored.
-->
<!ATTLIST nm_model advan (advan1|advan2|advan3|advan4|advan5|advan6
                     |advan7|advan8|advan9|advan10|advan11|advan12) #IMPLIED>

<!-- <nm_model trans="trans1"> Parameterization for the ADVAN model chosen from {trans1, trans2, trans3, trans4, trans5, trans6}, default to "trans1".  If no ADVAN model is used, this setting is ignored.
-->
<!ATTLIST nm_model trans (trans1|trans2|trans3|trans4|trans5|trans6) #IMPLIED>

<!-- <nm_model tolerance=""> Required number of digits of accuracy used when an ADVAN model is used.
-->
<!ATTLIST nm_model tolerance CDATA #IMPLIED>

<!-- <pred> Equivalent of $PRED block that serves as the total of PK, ERROR and SUBROUTINES records. 
<html:p>
The same requirements and rules imposed on $PRED are applied to this element. 
</html:p>
<html:p>
NOTE: This element contains a set of equations written in the NONMEM abbriviated code, which is a subset of FORTRAN 77.  Cases are ignored; that is, "tIMe" and "TiMe" are treated as the same. 
</html:p>
-->
<!ELEMENT pred (#PCDATA)>

<!-- <pk> Equivalent of $PK block. Required when an ADVAN model is used.
<html:p>
The same requirements and rules imposed on PK are applied to this element.
</html:p>
<html:p>
NOTE: This element contains a set of equations written in the NONMEM abbriviated code, which is a subset of FORTRAN 77.  Cases are ignored; that is, "tIMe" and "TiMe" are treated as the same. 
</html:p>
-->
<!ELEMENT pk (#PCDATA)>

<!-- <error> Equivalent of $ERROR block.  Required when an ADVAN model is used.

<html:p>
The same requirements and rules imposed on ERROR are applied to this element.
</html:p>
<html:p>
This element contains a set of equations written in the NONMEM abbriviated code, which is a subset of FORTRAN 77.  Cases are ignored; that is, "tIMe" and "TiMe" are treated as the same.  
</html:p>
-->
<!ELEMENT error (#PCDATA)>

<!-- <comp_model> Definition of a compartmental model.  Required when a general model (ADVAN5-9) is used.

<comp_model> would usually follow <pk> block. <pk> is omitted if <link>s are specified to define the compartmental model.  
The order in which the <compartment>s appear is interpreted as the compartment number.
-->
<!ELEMENT comp_model (compartment+ | link*) >

<!-- <comp_model ncompartments="n"> Total number of compartments other than the output compartment.-->
<!ATTLIST comp_model ncompartments CDATA #REQUIRED>
<!ATTLIST comp_model nequilibrium  CDATA #REQUIRED><!-- <comp_model nequilibrium="0"> The number of equilibrium compartments. -->
<!ATTLIST comp_model nparameters   CDATA #REQUIRED><!-- <comp_model nparameters="n"> The number of basic PK parameters. -->

<!-- <compartment> Definition of a compartment.-->
<!ELEMENT compartment EMPTY>

<!-- <compartment name="">  Name of the compartment.-->
<!ATTLIST compartment name CDATA #REQUIRED>

<!-- <compartment initial_off="no"> "yes" makes this compartment initially off, default to "no". -->
<!ATTLIST compartment initial_off (yes|no) #IMPLIED>

<!-- <compartment no_off="no"> "yes" prohibits this compartment from being turned on or off, default to "no". -->
<!ATTLIST compartment no_off (yes|no) #IMPLIED>

<!-- <compartment no_dose="no"> "yes" prohibits this compartment from receiving a dose, default to "no".  -->
<!ATTLIST compartment no_dose (yes|no) #IMPLIED>

<!-- <compartment equilibrium="no"> "yes" makes this compartment an equilibrium compartment, default to "no". -->
<!ATTLIST compartment equilibrium (yes|no) #IMPLIED>

<!-- <compartment exclude="no"> "yes" makes this compartment's amount exclueded from the amount of the output compartment (ADVAN9 only), default to "no". -->
<!ATTLIST compartment exclude (yes|no) #IMPLIED>

<!-- <compartment default_observation="no"> "yes" makes this compartment the default observation compartment, default to "no" which means the compartment with the name "CENTRAL" or the first compartment.-->
<!ATTLIST compartment default_observation (yes|no) #IMPLIED>

<!-- <compartment default_dose="no"> "yes" makes this compartment the edefault dose compartment, default to "no" which means the compartment with the name "DEPOT" or the first compartment.-->
<!ATTLIST compartment default_dose (yes|no) #IMPLIED>

<!-- <link> Required only in the absence of <pk> abbrivated code. <link> defines a flow rate constant, k,  from compartment-"from" to compartment-"to".  If the flow is bidirectional, specify the flows with two <link> elements.
-->
<!ELEMENT link EMPTY>

<!-- <link from=""> Identification number of the compartment from which the flow originates. -->
<!ATTLIST link from CDATA #REQUIRED>

<!-- <link to=""> Identification number of the compartment to which the flow move in. -->
<!ATTLIST link to CDATA #REQUIRED>

<!-- <link k=""> Flow rate constant of the compartment -->
<!ATTLIST link k CDATA #REQUIRED>

<!-- <diffeqn> System of differential equations, equivalent to $DES record in NONMEM. Required with ADVAN6, 8, 9. 

The same requirements and rules imposed on $DES are applied to this element.

NOTE: This element contains a set of equations written in the NONMEM abbriviated code, which is a subset of FORTRAN 77.  Cases are ignored; that is, "tIMe" and "TiMe" are treated as the same.  
-->
<!ELEMENT diffeqn (#PCDATA)>

<!-- ===================================== -->
<!--             end of  MODEL             -->
<!-- ===================================== -->

<!-- ===================================== -->
<!--                DATA                   -->
<!-- ===================================== -->

<!-- <nm_data> Data set (from all of the individuals).

 The order in which <individual>s appear is taken to be the order in which the individual's data would be processed during the optimization. 
-->
<!ELEMENT nm_data (description? | individual)+>

<!-- <individual> A sequence of data <record>s from a single individual.  -->
<!ELEMENT individual (record)+>

<!-- <record> A data record which is a sequence of data <item>s.  The label for the i-th <item> in a record is th e i-th <label> under <data_labels>.-->
<!ELEMENT record (item)+>

<!-- <item> A data item.-->
<!ELEMENT item EMPTY>

<!-- <item value="0.0"> A value for the item (ie. alpha-numeric string for ID item and double-precision for all other items). -->
<!ATTLIST item value CDATA #REQUIRED>

<!-- <item label=""> Label for the item (optinal). -->
<!ATTLIST item label CDATA #IMPLIED>

<!-- <individual length="n"> The number of data <record>s for this individual. -->
<!ATTLIST individual length CDATA #REQUIRED>

<!-- ===================================== -->
<!--              end of DATA              -->
<!-- ===================================== -->

<!-- ===================================== -->
<!--              PRESENTATION             -->
<!-- ===================================== -->

<!-- <nm_presentation> Information to control the format in which the results are displayed. There can be as many as 10 <table>s and 20 <scatterplot>s.-->
<!ELEMENT nm_presentation (table+ | scatterplot+)>

<!-- <table> Information to request to produce a table. The table columns are placed in the order of which the <column> appears. There are as many as 8 tables.-->
<!ELEMENT table (description? | column+)>

<!-- <table save_as=""> The file name in which the table is saved, default to empty which requests display only.-->
<!ATTLIST table save_as CDATA #IMPLIED>

<!-- <table header="one"> The frequency in which the header (ie. labels) appears.  "one" requests the header to be appeared only once in the first row for the entire table.  "none" requests no header at all. "every" requests a header block per segment, where a segment is composed of 900 records.
-->
<!ATTLIST table header (none|one|every) #REQUIRED>

<!-- <table process="estimation"> The value, "simulation", suggests tabularizing the simulated data set.  The value, "estimation", for whatever the user requests to display (given as &lt;<column>&gt;s).
-->
<!ATTLIST table process (estimation|simulation) #REQUIRED>

<!-- <column> A table column.-->
<!ELEMENT column EMPTY>

<!-- <column label=""> The name associate with the item to display along with DV, PRED, RES and WRES. It may include one of the followings:
<html:ul>
   <html:li>ETA(1), ETA(2), ..., ETA(10), ..., ETA(70), etc., corresponding to eta(1), eta(2).</html:li>
   <html:li>Data labels
</html:ul>
-->
<!ATTLIST column label CDATA #REQUIRED> 

<!-- <column sort_order=""> The priority by which this column data is sorted.  If omitted, no sorting is applied.
-->
<!ATTLIST column sort_order CDATA #IMPLIED>

<!-- <scatterplot> Information to request to produce a scatterplot. At most 2 <by>s are allowed.-->
<!ELEMENT scatterplot (description? | x+ | y+ | by*)>

<!-- <scatterplot process="estimation"> The value, "simulation", suggests plotting the simulated data set.  The value, "estimation", for whatever the user requests to display (given as &lt;<x>&gt;s and &lt;<y>&gt;s).
	-->
<!ATTLIST scatterplot process (estimation|simulation) #REQUIRED>

<!-- <scatterplot unit_slope="hide"> "show" to show the unit slope, "hide" to hide it, default to "hide". -->
<!ATTLIST scatterplot unit_slope (show|hide) #IMPLIED>

<!-- <scatterplot x0_line="show"> "show" to show a vertical line on x=0, "hide" to hide it, default to "show".-->
<!ATTLIST scatterplot x0_line    (show|hide) #IMPLIED>

<!-- <scatterplot y0_line="show"> "show" to show a horizontal line on y=0, "hide" to hide it, default to "show". -->
<!ATTLIST scatterplot y0_line    (show|hide) #IMPLIED>

<!-- <scatterplot from="1"> The number of the first data record which may contribute to the scatterplot, default to 1.-->
<!ATTLIST scatterplot from      CDATA       #IMPLIED>

<!-- <scatterplot to="900"> The number of the last data record which may contribute to the scatterplot, default to "from"+899.-->
<!ATTLIST scatterplot to        CDATA       #IMPLIED>

<!-- <x> Item to be plotted on the x axis.  It may be one of the followings:
<html:ul>
   <html:li>PRED, RES and WRES</html:li>
   <html:li>ETA(1), ETA(2), ..., ETA(10), ..., ETA(70), etc., corresponding to eta(1), eta(2).</html:li>
   <html:li>Data labels</html:li>
</html:ul>
 -->
<!ELEMENT x EMPTY>
<!ATTLIST x label CDATA #REQUIRED>   <!-- <x label=""> Label of the item. -->

<!-- <by> Item to separate (page-break) the scatterplot.  At most 2 data items may be specified per scatterplot.-->
<!ELEMENT by EMPTY>
<!ATTLIST by label CDATA #REQUIRED><!-- <by label="">  Label of the item that separates the scatterplot. -->

<!-- <y> Item to be plotted on the y axis.   It may be one of the followings:
<html:ul>
   <html:li>PRED, RES and WRES</html:li>
   <html:li>ETA(1), ETA(2), ..., ETA(10), ..., ETA(70), etc., corresponding to eta(1), eta(2).</html:li>
   <html:li>Data labels</html:li>
</html:ul>
-->
<!ELEMENT y EMPTY>
<!ATTLIST y label CDATA    #REQUIRED>   <!-- <y label=""> Label of the item. -->
<!-- ===================================== -->
<!--           end of PRESENTATION         -->
<!-- ===================================== -->

<!-- ===================================== -->
<!--              CONTROL FILE             -->
<!-- ===================================== -->

<!-- <nm_control> A valid NONMEM control file corresponding to the contents of 
the <nm_constraint> and <nm_model> in the SpkInML instance document.-->
<!ELEMENT nm_control (#PCDATA)>

<!-- ================================================================================ -->
<!--                                 end of INPUT                                     -->
<!-- ================================================================================ -->
<!-- ================================================================================ -->
<!--                                  OUTPUT                                          -->
<!-- ================================================================================ -->

<!-- <nm_result> Composite of the results requested by <nm_request>.

<pop_analysis_result> is required when <pop_analyis> was requested and completed normally.
<ind_analysis_result> is required when <ind_analysis> was requested and completed normally.
When either analysis failed or completed abnormally, only <error_message> may appear.
--> 
<!ELEMENT nm_result (error_message? | pop_analysis_result? | ind_analysis_result?)>

<!-- ===================================== -->
<!--                 MESSAGE               -->
<!-- ===================================== -->
<!-- <error_message> Error messages generated from ASPK and/or CSPK. -->
<!ELEMENT error_message (#PCDATA)>

<!-- ===================================== -->
<!--                 RESULTS               -->
<!-- ===================================== -->
<!-- <pop_analysis_result> Population analysis results. -->
<!ELEMENT pop_analysis_result (release | pop_opt_result? | pop_stat_result? | presentation_data )>

<!-- <ind_analysis_result> Individual analysis results. -->
<!ELEMENT ind_analysis_result (release | ind_opt_result? | ind_stat_result? | presentation_data )>

<!-- <pop_opt_result> Final values from the population parameter estimation.-->
<!ELEMENT pop_opt_result (pop_obj_out | theta_out | omega_out | sigma_out)>

<!-- <ind_opt_result> Final values from the individual parameter estimation.-->
<!ELEMENT ind_opt_result (ind_obj_out | theta_out | omega_out)>

<!-- <theta_out> Final value for the theta. -->
<!ELEMENT theta_out (value)+>

<!-- <omega_out> Final value for the Omega. -->
<!ELEMENT omega_out (value)+>

<!-- <sigma_out> Final value for the Sigma. -->
<!ELEMENT sigma_out (value)+>

<!-- <pop_obj_out> Final objective value for the population parameter. -->
<!ELEMENT pop_obj_out (value)+>

<!-- <ind_obj_out> Final objective value for the individual parameter. -->
<!ELEMENT ind_obj_out (value)+>

<!-- <pop_stat_result> Statistical analysis results on the final estimate for the population parameter. -->
<!ELEMENT pop_stat_result (stat_labels | pop_stderror_out? | pop_covariance_out? | pop_inverse_covariance_out? | pop_correlation_out? )>

<!-- <stat_labels> Sequence of <label>s that identify the components of the statistics value. -->
<!ELEMENT stat_labels (label)*>

<!-- <pop_stderror_out> Standard error for the final estimate for population parameter. -->
<!ELEMENT pop_stderror_out (value)*>

<!-- <pop_covariance_out> Covariance matrix of the final estimate for population parameter. -->
<!ELEMENT pop_covariance_out (value)*>

<!-- <pop_inverse_covariance_out> Inverse of the covariance matrix of the final estimate for population parameter. -->
<!ELEMENT pop_inverse_covariance_out (value)*>

<!-- <pop_correlation_out> Correlation matrix of the final estimate for population parameter. -->
<!ELEMENT pop_correlation_out (value)*>

<!-- <ind_stat_result> Statistical analysis results on the final estimate for the individual parameter. -->
<!ELEMENT ind_stat_result (stat_labels | ind_stderror_out? | ind_covariance_out? | ind_inverse_covariance_out? | ind_correlation_out? )>

<!-- <ind_stderror_out> Standard error for the final estimate(s) for individual parameter(s). -->
<!ELEMENT ind_stderror_out (value)*>

<!-- <ind_covariance_out> Covariance matrix of the final estimate(s) for individual parameter(s). -->
<!ELEMENT ind_covariance_out (value)*>

<!-- <ind_inverse_covariance_out> Inverse of the covariance matrix of the final estimate(s) for individual parameter(s). -->
<!ELEMENT ind_inverse_covariance_out (value)*>

<!-- <ind_correlation_out> Correlation matrix of the final estimate(s) for individual parameter(s). -->
<!ELEMENT ind_correlation_out (value)*>

<!-- <presentation_data> List of <individual>s' data <record>s containing values used or generated while estimating a prediction for each observation point.

A data record includes the following data items:
   <html:ul>
      <html:li>Observation record identifier (ID)</html:li>
      <html:li>Prediction (PRED)</html:li>
      <html:li>Residual (RES)</html:li>
      <html:li>Weighted residual (WRES)</html:li>
      <html:li>
The values assigned to the variables appeared on the left hand side of equations in <pred> if no PREDPP library routine
were used or equations in <pk>, <error> and <diffeqn> if a PREDPP routine were used.
      </html:li>
      <html:li>Dependent variable (DV) if <simulation> were requested.</html:ul>
   </html:ul>
-->
<!ELEMENT presentation_data (individual)*>

<!-- ===================================== -->
<!--              end of RESULTS           -->
<!-- ===================================== -->

<!-- ================================================================================ -->
<!--                                 end of OUTPUT                                    -->
<!-- ================================================================================ -->

<!-- ================================================================================ -->
<!--                           end of NONMEM Specific Constants                       -->
<!-- ================================================================================ -->

<!-- ================================================================================ -->
<!--                                                                                  -->
<!--                                 end of NONMEM                                    -->
<!--                                                                                  -->
<!-- ================================================================================ -->


<!-- ================================================================================ -->
<!--                                                                                  -->
<!--                                 GENERAL/COMMON                                   -->
<!--                                                                                  -->
<!-- ================================================================================ -->

<!-- <submission> Date and time which the request was submitted and its originator information -->
<!ELEMENT submission (owner | date | time)>

<!-- <release> Date and time at which the result was generated and its originator information -->
<!ELEMENT release (owner? | date | time)>

<!-- <owner> Owner of the SpkML instance. -->
<!ELEMENT owner (login | last_name? | first_name? | description?)>
<!ELEMENT login      (#PCDATA)><!-- <login> Login info -->
<!ELEMENT last_name  (#PCDATA)><!-- <last_name> Last name -->
<!ELEMENT first_name (#PCDATA)><!-- <first_name> First name -->

<!--  <description>  Description of the parent element. -->
<!ELEMENT description (#PCDATA)>

<!-- <date> Month-Date-Year. -->
<!ELEMENT date (mm | dd | yyyy)>
<!ELEMENT mm   (#PCDATA)><!-- <mm> Month in 2 digits -->
<!ELEMENT dd   (#PCDATA)><!-- <dd> Date in 2 digits -->
<!ELEMENT yyyy (#PCDATA)><!-- <yyyy> Year in 4 digits -->

<!-- <time> Hour-Minutes-Seconds. -->
<!ELEMENT time (hr | min | sec)>
<!ELEMENT hr   (#PCDATA)><!-- <hr> Hour in 2 digits -->
<!ELEMENT min  (#PCDATA)><!-- <min> Minutes in 2 digits -->
<!ELEMENT sec  (#PCDATA)><!-- <sec> Seconds in 2 digits -->
