trunk/spk/aspk/spkcompiler/doc/SpkReportML.dtd

<!-- <> <html:h2>SpkReportML : MDA -&gt; ASPK Information Package</html:h2>
<html:p>
This documentation specifies the information passed back from CSPK to MDA.
</html:p>
-->

<!-- ================================================================================ -->
<!--                                  REPORT                                          -->
<!-- ================================================================================ -->
<!-- <spkreportML> For CSPK, this contains everything needed for returning the requested values back to the user.  For MDA, it is for presenting them before the user.  The values reported in this document are expressed in the scientific notation with 2 significant digits: ex. 0.12E01, 3.20E00, -0.12E01, 0.12E-01, -0.12E-01.
-->

<!ELEMENT spkreportML (error_message? | pop_analysis_result? | ind_analysis_result? | presentation_data?)>

<!-- ===================================== -->
<!--                 MESSAGE               -->
<!-- ===================================== -->
<!-- <error_message> Error messages generated from ASPK and/or CSPK. -->
<!ELEMENT error_message (#PCDATA)>

<!-- ===================================== -->
<!--                 REPORTS               -->
<!-- ===================================== -->
<!-- <pop_analysis_result> Population analysis results. -->
<!ELEMENT pop_analysis_result ( pop_opt_result? | pop_stat_result? )>

<!-- <pop_opt_result> Final values from the population parameter estimation.-->
<!ELEMENT pop_opt_result (pop_obj_out | theta_out | omega_out | sigma_out)>

<!-- <ind_analysis_result> Individual analysis results. -->
<!ELEMENT ind_analysis_result ( ind_opt_result? | ind_stat_result? )>

<!-- <ind_opt_result> Final values from the individual parameter estimation.-->
<!ELEMENT ind_opt_result (ind_obj_out | theta_out | omega_out)>

<!-- <theta_out> Final value for the theta. -->
<!ELEMENT theta_out (value)+>

<!-- <theta_out length="0"> The length of the theta vector. -->
<!ATTLIST theta_out length CDATA #REQUIRED>

<!-- <omega_out> Final value for the Omega. -->
<!ELEMENT omega_out (value)+>

<!-- <omega_out struct="block"> The structure of the Omega matrix: "block" or "diagonal". -->
<!ATTLIST omega_out struct (block|diagonal) #REQUIRED>

<!-- <omega_out dimension=""> The dimension of the Omega matrix. -->
<!ATTLIST omega_out dimension CDATA #REQUIRED>

<!-- <sigma_out> Final value for the Sigma. -->
<!ELEMENT sigma_out (value)+>

<!-- <sigma_out struct="block"> The structure of the Sigma matrix: "block" or "diagonal". -->
<!ATTLIST sigma_out struct (block|diagonal) #REQUIRED>

<!-- <sigma_out dimension=""> The dimension of the Simga matrix. -->
<!ATTLIST sigma_out dimension CDATA #REQUIRED>


<!-- <pop_obj_out> Final objective value for the population parameter. -->
<!ELEMENT pop_obj_out (value)+>

<!-- <ind_obj_out> Final objective value for the individual parameter. -->
<!ELEMENT ind_obj_out (value)+>

<!-- <pop_stat_result> Statistical analysis results on the final estimate for the population parameter.  The NONMEM fixed effect parameters are mapped to the SPK population parameter in the oder of {THETA, OMEGA, SIGMA}.-->
<!ELEMENT pop_stat_result ( pop_stderror_out? | pop_covariance_out? | pop_inverse_covariance_out? | pop_correlation_out? )>

<!-- <pop_stderror_out> Standard error for the final estimate for population parameter. -->
<!ELEMENT pop_stderror_out (value)*>

<!-- <pop_stderror_out length="0"> The length of the standard error vector. -->
<!ATTLIST pop_stderror_out length CDATA #REQUIRED>

<!-- <pop_covariance_out> Covariance matrix of the final estimate for population parameter.  The lower triangle is always returned.-->
<!ELEMENT pop_covariance_out (value)*>

<!-- <pop_covariance_out dimension="0"> The dimension of the covariance matrix. -->
<!ATTLIST pop_covariance_out dimension CDATA #REQUIRED>

<!-- <pop_inverse_covariance_out> Inverse of the inverse of covariance matrix of the final estimate for population parameter.  The lower triangle is always retruned.-->
<!ELEMENT pop_inverse_covariance_out (value)*>

<!-- <pop_inverse_covariance_out dimension="0"> The dimension of the covariance matrix. -->
<!ATTLIST pop_inverse_covariance_out dimension CDATA #REQUIRED>

<!-- <pop_correlation_out> Correlation matrix of the final estimate for population parameter.  The lower triangle is always returned.-->
<!ELEMENT pop_correlation_out (value)*>

<!-- <pop_correlation_out dimension="0"> The dimension of the correlation matrix. -->
<!ATTLIST pop_correlation_out dimension CDATA #REQUIRED>

<!-- <ind_stat_result> Statistical analysis results on the final estimate for the individual parameter.  The NONMEM random effect parameter, ETA, is mapped to the SPK individual parameter, one-to-one.-->
<!ELEMENT ind_stat_result (ind_stderror_out? | ind_covariance_out? | ind_inverse_covariance_out? | ind_correlation_out? )>

<!-- <ind_stderror_out> Standard error for the final estimate(s) for individual parameter(s). -->
<!ELEMENT ind_stderror_out (value)*>

<!-- <ind_covariance_out> Covariance matrix of the final estimate(s) for individual parameter(s). -->
<!ELEMENT ind_covariance_out (value)*>

<!-- <ind_covariance_out dimension="0"> The dimension of the covariance matrix. -->
<!ATTLIST ind_covariance_out dimension CDATA #REQUIRED>

<!-- <ind_covariance_out struct="block"> The structure of the covariance matrix: "block" or "diagonal". -->
<!ATTLIST ind_covariance_out struct (block|diagonal) #REQUIRED>

<!-- <ind_inverse_covariance_out> Inverse of the covariance matrix of the final estimate(s) for individual parameter(s). -->
<!ELEMENT ind_inverse_covariance_out (value)*>

<!-- <ind_inverse_covariance_out dimension="0"> The dimension of the covariance matrix. -->
<!ATTLIST ind_inverse_covariance_out dimension CDATA #REQUIRED>

<!-- <ind_inverse_covariance_out struct="block"> The structure of the inverse of covariance matrix: "block" or "diagonal". -->
<!ATTLIST ind_inverse_covariance_out struct (block|diagonal) #REQUIRED>

<!-- <ind_correlation_out> Correlation matrix of the final estimate(s) for individual parameter(s). -->
<!ELEMENT ind_correlation_out (value)*>

<!-- <ind_correlation_out dimension="0"> The dimension of the correlation matrix. -->
<!ATTLIST ind_correlation_out dimension CDATA #REQUIRED>

<!-- <ind_correlation_out struct="block"> The structure of the correlation matrix: "block" or "diagonal". -->
<!ATTLIST ind_correlation_out struct (block|diagonal) #REQUIRED>

<!-- <presentation_data> An augmented data set, containing the values that 
appear on the left hand side of the equations in <model> and the following 
extra data items evaluated at each sampling point, along with the original 
data set values:
   <html:ul>
      <html:li>Observation record identifier (ID)</html:li>
      <html:li>Prediction (PRED)</html:li>
      <html:li>Residual (RES)</html:li>
      <html:li>Weighted residual (WRES)</html:li>
      </html:li>
      <html:li>Simulated data (ie. dependent variable) if <simulation> were requested (SIMDV).</html:ul>
   </html:ul>

The data set is considered as a table/matrix here and the first row in the
table would contain the labels that describe the nature of the values that follow (column-wise).
-->
<!ELEMENT presentation_data (row)* > 

<!-- <presentation_data columns="0"> The number of colums in the table, >=0. -->
<!ATTLIST presentation_data columns CDATA #REQUIRED>

<!-- <presentation_data rows="0"> The number of rows in the table, >=0. -->
<!ATTLIST presentation_data rows CDATA #REQUIRED>

<!-- <row> A row in the table of values.  A row is composed of <item>s.  -->
<!ELEMENT row (value)*>

<!-- <row position="1"> The position of the <row> in the table/matrix, >= 1.  The first (position="1") row contains the label for each column of items.  -->
<!ATTLIST row position CDATA #REQUIRED>

<!-- ================================================================================ -->
<!--                                                                                  -->
<!--                                 end of REPORT                                    -->
<!--                                                                                  -->
<!-- ================================================================================ -->


<!-- ================================================================================ -->
<!--                                                                                  -->
<!--                                 GENERAL/COMMON                                   -->
<!--                                                                                  -->
<!-- ================================================================================ -->

<!-- <value> A value of arbitrary type: floating point number, integer, string or text.  

For numbers, you can use the decimal format (ex. 0.1) or scientific notation (ex. 1E-1).  The leading zeros before the decimal point or the trailing zeros after the decimal point may be omitted (ex. ".1", "1.") as long as there is one significant digit on either side (ex. "." by itself is illegal).
-->
<!ELEMENT value (#PCDATA)>

<!-- <value type="numeric">The type of the value: "numeric" or "string", default to "numeric". -->
<!ATTLIST value type (numeric|string) #IMPLIED>

