trunk/spk/aspk/spkcompiler/doc/SpkReportML.dtd

<!-- <> <html:h2>SpkReportML : MDA -&gt; ASPK Information Package</html:h2>
<html:p>
This documentation specifies the information passed back from CSPK to MDA.
</html:p>
-->

<!-- =============================================================================== -->
<!--                                  REPORT                                          -->
<!-- =============================================================================== -->
<!-- <spkreportML> For CSPK, this contains everything needed for returning the requested values back to the user.  For MDA, it is for presenting them before the user.  The values reported in this document are expressed in the scientific notation with 2 significant digits: ex. 0.12E01, 3.20E00, -0.12E01, 0.12E-01, -0.12E-01.
-->

<!ELEMENT spkreportML (error_message? | pop_analysis_result? | ind_analysis_result? | presentation_data?)>

<!-- <spkreportML version="0.1"> The version number of the SpkReportML document.  For the initial version, it is "0.1".-->
<!ATTLIST spkreportML version (0.1|0.2) #REQUIRED>

<!-- ===================================== -->
<!--                 MESSAGE               -->
<!-- ===================================== -->
<!-- <error_message> Error messages generated from ASPK and/or CSPK. -->
<!ELEMENT error_message (#PCDATA)>

<!-- ===================================== -->
<!--                 REPORTS               -->
<!-- ===================================== -->
<!-- <pop_analysis_result> Population analysis results. -->
<!ELEMENT pop_analysis_result ( pop_opt_result? | pop_stat_result? )>

<!-- <pop_opt_result> Final values from the population parameter estimation.-->
<!ELEMENT pop_opt_result (pop_obj_out | theta_out | omega_out | sigma_out)>

<!-- <pop_opt_result elapsedtime="500"> The number of seconds it took to complete the parameter estimation. -->
<!ATTLIST pop_opt_result elapsedtime CDATA #REQUIRED>

<!-- <ind_analysis_result> Individual analysis results. -->
<!ELEMENT ind_analysis_result ( ind_opt_result? | ind_stat_result? )>

<!-- <ind_analysis_result elapsedtime="500"> The number of seconds it took to complete the parameter estimation. -->
<!ATTLIST ind_analysis_result elapsedtime CDATA #REQUIRED>

<!-- <ind_opt_result> Final values from the individual parameter estimation.-->
<!ELEMENT ind_opt_result (ind_obj_out | theta_out | omega_out)>

<!-- <ind_opt_result elapsedtime="500"> The number of seconds it took to complete the parameter estimation. -->

<!ATTLIST ind_opt_result elapsedtime CDATA #REQUIRED>
<!-- <theta_out> Final value for the theta. -->
<!ELEMENT theta_out (value)+>

<!-- <theta_out length="0"> The length of the theta vector. -->
<!ATTLIST theta_out length CDATA #REQUIRED>

<!-- <omega_out> Final value for the Omega. -->
<!ELEMENT omega_out (value)+>

<!-- <omega_out struct="block"> The structure of the Omega matrix: "block" or "diagonal". -->
<!ATTLIST omega_out struct (block|diagonal) #REQUIRED>

<!-- <omega_out dimension=""> The dimension of the Omega matrix. -->
<!ATTLIST omega_out dimension CDATA #REQUIRED>

<!-- <sigma_out> Final value for the Sigma. -->
<!ELEMENT sigma_out (value)+>

<!-- <sigma_out struct="block"> The structure of the Sigma matrix: "block" or "diagonal". -->
<!ATTLIST sigma_out struct (block|diagonal) #REQUIRED>

<!-- <sigma_out dimension=""> The dimension of the Simga matrix. -->
<!ATTLIST sigma_out dimension CDATA #REQUIRED>


<!-- <pop_obj_out> Final objective value for the population parameter. -->
<!ELEMENT pop_obj_out (value)+>

<!-- <ind_obj_out> Final objective value for the individual parameter. -->
<!ELEMENT ind_obj_out (value)+>

<!-- <pop_stat_result> Statistical analysis results on the final estimate for the population parameter.  The NONMEM fixed effect parameters are mapped to the SPK population parameter in the oder of {THETA, OMEGA, SIGMA}.

For example, given the following (full) covariance matrix:
<html:pre>
   /           \
   |  <font color="red">1</font>  2  3  |
   |  <font color="red">2</font>  <font color="red">4</font>  5  |
   |  <font color="red">3</font>  <font color="red">5</font>  <font color="red">6</font>  |
   \           /
</html:pre>

the following is returned:
<html:pre>
   &lt;<pop_covariance_out> dimension="3" struct="block"&gt;
      &lt;<value>&gt;1&lt;/<value>&gt;
      &lt;<value>&gt;2&lt;/<value>&gt;&lt;<value>&gt;4&lt;/<value>&gt;
      &lt;<value>&gt;3&lt;/<value>&gt;&lt;<value>&gt;5&lt;/<value>&gt;&lt;<value>&gt;6&lt;/<value>&gt;
   &lt;/<pop_covariance_out>&gt;
</html:/pre>
-->
<!ELEMENT pop_stat_result ( pop_stderror_out? | pop_covariance_out? | pop_inverse_covariance_out? | pop_correlation_out?  | pop_coefficient_out? | pop_confidence_out? )>

<!-- <pop_stat_result elapsedtime="120"> The number of seconds it took to complete computing the requested statistics values. -->
<!ATTLIST pop_stat_result elapsedtime CDATA #REQUIRED>

<!-- <pop_stderror_out> Standard error for the final estimate of population parameter.
 The i-th &lt;<value>&gt; corresponds to the i-th element of the parameter vector.
 -->
<!ELEMENT pop_stderror_out (value)*>

<!-- <pop_stderror_out length="0"> The length of the standard error vector, which is equal to the length of the parameter vector. -->
<!ATTLIST pop_stderror_out length CDATA #REQUIRED>

<!-- <pop_covariance_out> Covariance matrix for the final estimate of population parameter.
For the arrangement of &lt;<value>&gt;s under this tag, refer to &lt;<pop_stat_result>&gt;.
-->
<!ELEMENT pop_covariance_out (value)*>

<!-- <pop_covariance_out dimension="0"> The dimension of the covariance matrix. -->
<!ATTLIST pop_covariance_out dimension CDATA #REQUIRED>

<!-- <pop_inverse_covariance_out> Inverse of the covariance matrix for the final estimate of population parameter.  
For the arrangement of &lt;<value>&gt;s under this tag, refer to &lt;<pop_stat_result>&gt;.
-->
<!ELEMENT pop_inverse_covariance_out (value)*>

<!-- <pop_inverse_covariance_out dimension="0"> The dimension of the covariance matrix. -->
<!ATTLIST pop_inverse_covariance_out dimension CDATA #REQUIRED>

<!-- <pop_correlation_out> Correlation matrix for the final estimate of population parameter.
For the arrangement of &lt;<value>&gt;s under this tag, refer to &lt;<pop_stat_result>&gt;.
-->
<!ELEMENT pop_correlation_out (value)*>

<!-- <pop_correlation_out dimension="0"> The dimension of the correlation matrix. -->
<!ATTLIST pop_correlation_out dimension CDATA #REQUIRED>

<!-- <pop_confidence_out>  The confidence interval for the final estimate of population parameter. 
The first n &lt;<value>&gt;s are the lower bounds and the remaining n
&lt;<value>&gt;s are the upper bounds, where n is the length of parameter vector.
Thus, the lower bound for the i-th element of the parameter vector is found at (0 * n + i)-th in 
the &lt;<value>&gt;s sequence and the upper bound for the same parameter is found at (1 * n + i)-th.
-->
<!ELEMENT pop_confidence_out (value)*>

<!-- <pop_confidence_out length="0"> The length of the vector containing
the confidence intervals.
-->
<!ATTLIST pop_confidence_out length CDATA #REQUIRED>

<!-- <pop_coefficient_out> The coefficient of variation for the final estimate of population parameter, which is twice long as the length of the parameter vector.
The i-th &lt;<value>&gt; corresponds to the i-th element of the parameter vector.
-->
<!ELEMENT pop_coefficient_out (value)*>

<!-- <pop_coefficient_out length="0"> The length of the vector containing
the coefficient of variation, which is equal to the length of the parameter vector.
-->
<!ATTLIST pop_coefficient_out length CDATA #REQUIRED>

<!-- <ind_stat_result> Statistical analysis results on the final estimate for the individual parameter.  The NONMEM random effect parameter, ETA, is mapped to the SPK individual parameter, one-to-one.

For the symmetric matrices (ex. the covariance and the correlation matrices), the <value>s are arranged so that the lower triangle of the symmetric matrix is read in the row-major order.
For example, given the following (full) covariance matrix:
<html:pre>
   /           \
   |  <font color="red">1</font>  2  3  |
   |  <font color="red">2</font>  <font color="red">4</font>  5  |
   |  <font color="red">3</font>  <font color="red">5</font>  <font color="red">6</font>  |
   \           /
</html:pre>
the following is returned:
<html:pre>
   &lt;<ind_covariance_out> dimension="3" struct="block"&gt;
      &lt;<value>&gt;1&lt;/<value>&gt;
      &lt;<value>&gt;2&lt;/<value>&gt;&lt;<value>&gt;4&lt;/<value>&gt;
      &lt;<value>&gt;3&lt;/<value>&gt;&lt;<value>&gt;5&lt;/<value>&gt;&lt;<value>&gt;6&lt;/<value>&gt;
   &lt;/<ind_covariance_out>&gt;
</html:/pre>
-->
<!ELEMENT ind_stat_result (ind_stderror_out? | ind_covariance_out? | ind_inverse_covariance_out? | ind_correlation_out? | ind_coefficient_out? | ind_confidence_out?)>

<!-- <ind_stat_result elapsedtime="60"> The number of seconds it took to complete computing the requested statistics values.-->
<!ATTLIST ind_stat_result elapsedtime CDATA #REQUIRED>

<!-- <ind_stderror_out> Standard error for the final estimate(s) of individual parameter(s).
 The i-th &lt;<value>&gt; corresponds to the i-th element of the parameter vector.
 -->
<!ELEMENT ind_stderror_out (value)*>

<!-- <ind_stderror_out length="0"> The length of the standar error vector, which is equal to the length of the parameter vector.
-->
<!ATTLIST ind_stderror_out length CDATA #REQUIRED>

<!-- <ind_covariance_out> Covariance matrix for the final estimate(s) of individual parameter(s).
For the arrangement of &lt;<value>&gt;s under this tag, refer to &lt;<ind_stat_result>&gt;.
-->
<!ELEMENT ind_covariance_out (value)*>

<!-- <ind_covariance_out dimension="0"> The dimension of the covariance matrix. -->
<!ATTLIST ind_covariance_out dimension CDATA #REQUIRED>

<!-- <ind_covariance_out struct="block"> The structure of the covariance matrix: "block" or "diagonal". -->
<!ATTLIST ind_covariance_out struct (block|diagonal) #REQUIRED>

<!-- <ind_inverse_covariance_out> Inverse of the covariance matrix for the final estimate(s) of individual parameter(s).  For the arrangement of &lt;<value>&gt;s under this tag, refer to &lt;<ind_stat_result>&gt;.
-->
<!ELEMENT ind_inverse_covariance_out (value)*>

<!-- <ind_inverse_covariance_out dimension="0"> The dimension of the covariance matrix. -->
<!ATTLIST ind_inverse_covariance_out dimension CDATA #REQUIRED>

<!-- <ind_inverse_covariance_out struct="block"> The structure of the inverse of covariance matrix: "block" or "diagonal". -->
<!ATTLIST ind_inverse_covariance_out struct (block|diagonal) #REQUIRED>

<!-- <ind_correlation_out> Correlation matrix for the final estimate(s) of individual parameter(s). 
For the arrangement of &lt;<value>&gt;s under this tag, refer to &lt;<ind_stat_result>&gt;.
-->
<!ELEMENT ind_correlation_out (value)*>

<!-- <ind_correlation_out dimension="0"> The dimension of the correlation matrix. -->
<!ATTLIST ind_correlation_out dimension CDATA #REQUIRED>

<!-- <ind_correlation_out struct="block"> The structure of the correlation matrix: "block" or "diagonal". -->
<!ATTLIST ind_correlation_out struct (block|diagonal) #REQUIRED>

<!-- <ind_confidence_out> Confidence interval for the final estimate(s) of
individual parameter(s).  
The first n &lt;<value>&gt;s are the lower bounds and the remaining n
&lt;<value>&gt;s are the upper bounds, where n is the length of parameter vector.
Thus, the lower bound for the i-th element of the parameter vector is found at (0 * n + i)-th in 
the &lt;<value>&gt;s sequence and the upper bound for the same parameter is found at (1 * n + i)-th.
-->
<!ELEMENT ind_confidence_out (value)*>

<!-- <ind_confidence_out length="0"> The length of the vector containing the confidence intervals, which is twice as long as of the parameter vector.
-->
<!ATTLIST ind_confidence_out length="0">

<!-- <ind_coefficient_out> Coefficient of variation for the final estimate(s) of
individual parameters(s).  
The i-th &lt;<value>&gt; corresponds to the i-th element of the parameter vector.
-->
<!ELEMENT ind_coefficient_out (value)*>

<!-- <ind_coefficient_out length="0"> The lenght of the vector containing the coefficient of variation, which is equal to the length of the parameter vector.
-->
<!ATTLIST ind_coefficient_out length CDATA #REQUIRED>


<!-- <presentation_data> An augmented data set, containing the values that 
appear on the left hand side of the equations in <model> and the following 
extra data items evaluated at each sampling point, along with the original 
data set values:
   <html:ul>
      <html:li>Observation record identifier (ID)</html:li>
      <html:li>Prediction (PRED)</html:li>
      <html:li>Residual (RES)</html:li>
      <html:li>Weighted residual (WRES)</html:li>
      </html:li>
      <html:li>Simulated data (ie. dependent variable) if <simulation> were requested (SIMDV).</html:ul>
   </html:ul>

The data set is considered as a table/matrix here and the first row in the
table would contain the labels that describe the nature of the values that follow (column-wise).
-->
<!ELEMENT presentation_data (row)* > 

<!-- <presentation_data columns="0"> The number of colums in the table, >=0. -->
<!ATTLIST presentation_data columns CDATA #REQUIRED>

<!-- <presentation_data rows="0"> The number of rows in the table, >=0. -->
<!ATTLIST presentation_data rows CDATA #REQUIRED>

<!-- <row> A row in the table of values.  A row is composed of <item>s.  -->
<!ELEMENT row (value)*>

<!-- <row position="1"> The position of the <row> in the table/matrix, >= 1.  The first (position="1") row contains the label for each column of items.  -->
<!ATTLIST row position CDATA #REQUIRED>

<!-- ================================================================================ -->
<!--                                                                                  -->
<!--                                 end of REPORT                                    -->
<!--                                                                                  -->
<!-- ================================================================================ -->


<!-- ================================================================================ -->
<!--                                                                                  -->
<!--                                 GENERAL/COMMON                                   -->
<!--                                                                                  -->
<!-- ================================================================================ -->

<!-- <value> A value of arbitrary type: floating point number, integer, string or text.  

For numbers, you can use the decimal format (ex. 0.1) or scientific notation (ex. 1E-1).  The leading zeros before the decimal point or the trailing zeros after the decimal point may be omitted (ex. ".1", "1.") as long as there is one significant digit on either side (ex. "." by itself is illegal).
-->
<!ELEMENT value (#PCDATA)>

<!-- <value type="numeric">The type of the value: "numeric" or "string", default to "numeric". -->
<!ATTLIST value type (numeric|string) #IMPLIED>

